[2015-06-09 07:10] eserte commented on #714
Yes.

[2015-06-09 07:27] ferki commented on #714
@eserte: Thanks for your feedback! This should be fixed in 1.3.1, which is already on CPAN and in our package repositories. Proper announcement is expected soon.

[2015-06-09 09:46] #714 closed

[2015-06-10 17:50] krimdomu opened #716 "create option to set ctl_dir for Net::OpenSSH"
Net::OpenSSH is creating a control directory inside the user $HOME directory. But if the home directory doesn't have a chmod of 700 this will not work due to security concerns.

And sometimes it is also not possible to change the permissions of the home directory due to company policies.

So we need to have an option so that we can define the control directory.

Something like this (which would cr

[2015-06-12 20:27] ferki opened #719 "File tests and/or checksum checks are failing on various BSDs"
Looks like since 1.2.1, `t/file.t` and `t/fs_file.t` tests are failing on various BSD systems, because of the changes in MD5 checksum handling introduced on 66ff365. [Example failure report](http://www.cpantesters.org/cpan/report/49616ade-0fed-11e5-a85a-e28fcaadd3a7).

[2015-06-13 11:33] ferki opened #721 "Offer stronger digest algorithm(s) than MD5"
`Digest::MD5` is available as a core module on all supported perl versions, which makes it a convenient choice for checksumming e.g. to detect changes before/after file operations. However it would be very nice to offer other, stronger algorithms to do the same. SHA2 and SHA3 comes into mind particularly.

At first glance this would also mean having some "smart default chooser" based on the perl v

[2015-06-15 08:21] alpha6 opened #722 "STDERR is not printing by say"
Hello.

I have an issue with STDERR capturing from remote command.

[code]

After run I have got only exit status.

[code]

If I run this command in debug mode - I see the STDERR output in log.

[code]

And if I run this command with `auto_die` - it will show the STDERR in error log.

[code]

I see in mailing list that it must work https://groups.google.com/forum/#!searchin/rex-users/rex$20run$20s

[2015-06-15 09:18] krimdomu commented on #722
Hi @alpha6 ,
this depends if a tty is used or not.
In the past we used a tty by default, but this caused problems (in some special edge cases) during execution.

So in one of the past releases (i don't remember which one) we default to not use a tty. This means that the stdout and stderr is delivered on 2 file handles and so the `run()` command only returns stdout.

You can activate the tty with t

[2015-06-15 09:28] alpha6 commented on #722
Thanks, Jan.

If I understand correctly, when I type `-d`, Rex is starting with "tty" and capturing STDERR, in standard cases they doesn't. Is it correct?

[2015-06-15 10:55] krimdomu commented on #722
Hi @alpha6 ,

when you run with "-d" rex is just printing out the stderr channel. It doesn't run with a tty.

You can get this when you do the following:

[code]

[2015-06-17 08:03] krimdomu opened #724 "Create testsuite for Windows"
We need to create a windows vm where all the rex-build tests are also executed against a linux/bsd machine to test if everything can be managed.

We also need to test the installation of Rex on windows.

[2015-06-17 08:05] krimdomu opened #725 "Create testsuite for BSD"
We need to create a bsd vm where all the rex-build tests are also executed against a linux/bsd machine to test if everything can be managed.

We also need to test the installation of Rex on bsd.

[2015-06-18 14:27] #719 closed

[2015-06-18 19:52] ferki opened #726 "Replace XML::Simple dependency"
`XML::Simple` documentation states

Let's convert all XML-related code to `XML::LibXML` (which Rex already uses in `Rex::Group::Lookup::XML`).

[2015-06-19 00:31] mbroadhead commented on #694
@krimdomu @ferki I believe pull request #727 should fix this. All current tests still pass with this fix. Does it look okay?

[2015-06-19 00:41] mbroadhead opened #728 "run_task should run before_task_start and after_task_finished hooks"
@krimdomu I think it would be a good idea to have run_task() execute the before_task_start and after_task_finished hooks. I talked to @krimdomu about this over IRC, and I think you were going to add it. I haven't seen any activity regarding it lately, so I'm posting this.
Do you think this is still a good idea?

We also talked about whether or not calling a task directly by function name should ru

[2015-06-19 07:56] ferki opened #729 "Print basic usage info when called without tasks"
If `rex` is being run without tasks it might be useful to show the help screen instead, which could also mention basic CLI command structure, like `rex -rexoptions taskname --taskoptions=something`.

[2015-06-19 11:36] krimdomu commented on #728
Hi @mbroadhead ,
thanks for the ticket. I didn't forget it, but at the moment i have a lot of private stuff to do, so i don't have that much time for these task. Currently i'm focusing to get a new backend for the website online (for a better search and management). After this i can focus again on the code.

[2015-06-20 13:47] ferki opened #730 "Mock database connection to test Rex::Commands::DB"
In my opinion it would be nice to avoid pulling in MySQL/MariaDB as a test dependency via `Test::mysqld` for the `Rex::Commands::DB` tests in `t/db.t`. Instead, we could use mocking to provide the test suite with data to work with.

[2015-06-20 18:10] ferki commented on #478
I believe the rewritten [Authentication chapter](http://www.rexify.org/howtos/book/authentication.html) of the book clarifes how to configure Rex with different authentication methods.

Meanwhile Net::OpenSSH made default where it makes sense (=everywhere, except on Windows).

So to actually answer the original question:

It depends on the connection method being used:
- it can be, and already has

[2015-06-20 18:10] #478 closed

[2015-06-20 19:58] ferki commented on #576
Looks like the remote shell (ash) on OpenWrt needs the `no_tty` feature flag.

[2015-06-21 09:19] ferki commented on #494
@koboltmarky @krimdomu: I can't seem to reproduce this issue on Gentoo and with rex-1.3.2. That being said, I was also unable to reproduce it with 0.55.1. Can you please check again if it's still not broken for you?

I created a new key with `ssh-keygen -t rsa -b 4096` as mentioned above, set passphrase on it, and then used it with the following Rexfile:
[code]

I could successfully log in and run

[2015-06-21 09:32] ferki commented on #515
According to CPAN Testers reports, it seems to be resolved since 1.3.0.

[2015-06-21 09:32] #515 closed

[2015-06-21 09:47] ferki commented on #684
@toblerone554: could you please paste the full debug output via [GitHub Gist](https://gist.github.com), [dpaste](https://dpaste.de/), or similar? The one you posted above does not seem to be complete and/or does not show the error message you mentioned. Using an external service to paste long outputs/code instead of commenting them is encouraged to keep the issue history easily readable.

[2015-06-21 09:53] ferki commented on #684
Also, without the full debug output, this line:

suggests that your remote Ubuntu machine had some trouble while running the following command with sudo:
[code]

The debug output most possibly would show more details.

[2015-06-21 10:07] ferki commented on #695
@pmverma: do you have some further info about this? Can you share which OS was running on the remote server which showed this behaviour?

Also, can you please try again with rex-1.3.2 and Net::SSH2 against the same failing server again?  This release might have fixed this issue as well.

[2015-06-21 12:41] ferki commented on #576
So, it is the dropbear ssh server (which is default on OpenWrt) that needs the `no_tty` feature flag from Rex - it works fine when OpenSSH server is used. I'm gonna update the documentation about it.

[2015-06-21 19:30] ferki commented on #576
So, actually it looks like the `no_tty` feature flag is needed, at least with the OpenSSH connection method.

[2015-06-21 20:14] ferki commented on #576
[Updated docs](RexOps/rexify-website@9c792038a76634bca81bb6749e8fcbcaad16fd8d) and rex-build tests:
- [updated sshd detection](RexOps/rex-build@4174b38fc7e0fc600aaf6b2530627369f714eaaf)
- [using 1.0 feature flag during preparation](RexOps/rexbuild@510ad02da94fb5229c54eb31319fe53268a311c3)
- [adding block-mount dependency for swap handling](RexOps/rex-build@f8e734f07e7c6683a70bd1f9967f6a711883e3a8)

[2015-06-21 20:14] #576 closed

[2015-06-22 08:01] krimdomu commented on #730
we could rewrite this module, so that we have a query generation function, that we can test. so we just need to do string matches to see if the sql is the sql that we expect.

[2015-06-22 08:38] ferki commented on #730
That could also be an option. The main point is to simplify testing and reduce dependencies (where it makes sense).

[2015-06-22 12:17] ferki commented on #671
@andrewslotin: until the underlying `Net::OpenSSH` module gains possibility to recognize this situation and/or to expose the raw output of openssh master processes (see related upstream issue above), I can only give you some ideas what could be done (one of them may very well needed in your mentioned use case anyway because of the constantly/rapidly changing host keys)

- disable strict host key c

[2015-06-22 13:45] ferki commented on #687
@krimdomu: it is here only for documentation purposes or does it need to be implemented?

[2015-06-22 15:32] krimdomu commented on #687
@ferki

this needs to be implemented

[2015-06-30 11:52] jluis commented on #712
@ferki on https://github.com/jluis/Rex/commit/9b5f94db605581c9bb6d8cb1cc42d59dfaf3a645 I have put test and code to resolve this isue but I am not surte that the filename is santized enohg for glob to proccess.

I don't check for the existence of chars cound make glob stat for the filename ony if there are braces to pas the braces and the text inside to glob.

[2015-06-30 14:39] fr34k8 opened #737 "Amazon.pm signature version 4"
Is it possible to update the Amazon / Cloud to support sig4 ?
http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html

ATM no auth is possible in eu-central-1 (FFM)

[2015-06-30 15:31] krimdomu commented on #737
Hi @fr34k8 ,
thanks for the information. I'm going to look into it.

[2015-06-30 15:42] krimdomu commented on #737
@ferki
what do you think, should we use https://metacpan.org/pod/Net::Amazon::EC2 ?
this has a dependency to Moose, so we would need to build Moose packages for some operating systems.

[2015-06-30 16:40] ferki commented on #737
@krimdomu: yeah, or maybe just [AWS::Signature4](https://metacpan.org/pod/AWS::Signature4) for now. I see no point in re-implementing that if a reasonably simple/lightweight module is already there. Needs evaluation though, I just found it by a quick search.

[2015-06-30 17:07] fr34k8 commented on #737
That Sounds good to me.
Just lightwight atm seems legit.

[2015-06-30 17:10] krimdomu commented on #737
@ferki @fr34k8 AWS::Signature looks good indeed.

[2015-06-30 17:46] fr34k8 commented on #494
This works

[2015-07-02 05:35] krimdomu commented on #737
We have to implement the new signature on our own (in the first run) because AWS::Signature4 has a dependency that Centos5 can't fullfill.

[2015-07-02 09:14] fr34k8 commented on #737
Please exclude centos 5 and older (in the first run) if possible  @krimdomu @ferki

[2015-07-02 09:48] krimdomu commented on #737
@fr34k8 i created an issue branch for this: issue/737. I've added the AWS::Signature4 Module directly to Rex and rewrote the signing function to use this. On my local tests this work, it would be nice if you can verify this.

[2015-07-02 10:02] ferki commented on #737
@krimdomu: we can try to work with upstream to make it work on CentOS5, or as a plan B, we can try to override only the problematic methods/functions. Peronsally I would put extra effort in that direction instead of maintaining a yet-another full-blown implementation.

[2015-07-02 10:06] krimdomu commented on #737
@ferki

the problem is, that it depends on a newer libwww-perl. So we need to supply such a newer libwww-perl for CentOS5.

I need to check if this is really needed, or if the author just added these versions to the dependencies. If this is the fact, we can provide an upstream patch to lower the requirements.

The current patch is just for fr34k8 so that his things work.

[2015-07-02 11:28] fr34k8 commented on #737
@krimdomu give me a few hours
@ferki yes this should be an upstream topic.

[2015-07-02 11:46] fr34k8 commented on #737
@krimdomu quick Test works out of The box.

[2015-07-08 04:43] pmverma commented on #695
@ferki: Sorry for my late reply.

The remote OS was Redhat Enterprise Linux 6.2 64 bit.
                                 libssh2-1.2.2-7.el6_1.1.x86_64
                                 openssh-server-5.3p1-70.el6.x86_64

I just tried with rex-1.3.2 and Net::SSH2 (by removing NET::OpenSSH), the problem still exists while others remote OS RHEL6.2 working properly.

Do you need other info by which I

[2015-07-08 08:11] fr34k8 commented on #695
Do you use pass or keyauth with the Servers ?

[2015-07-08 08:56] pmverma commented on #695
@fr34k8: I use pass.

[2015-07-08 18:05] arpadszasz opened #740 "Wrong domain for box URLs"
Several places in the code mention box URLs from [http://box.rexify.org/box/...]( http://box.rexify.org/box/ubuntu-server-12.10-amd64.ova), but the current (working) URLs are from [http://box.linux-files.org/...](http://box.linux-files.org/ubuntu-server-12.10-amd64.ova).

[code]

I don't know if this is only a misconfiguration on the **box.rexify.org** domain or the code should be changed to the n

[2015-07-22 12:26] ehuelsmann opened #741 "Dependency not listed: Rex::CMDB::YAML depends on Hash::Merge"
The package in the rex repository doesn't list libhash-merge-perl as a dependency for Rex::CMDB::YAML; neither does the prereq listing in dist.ini seem to.

[2015-07-22 12:35] ehuelsmann opened #742 "Environment error after upgrading to 1.3.2"
Coming from 1.0.1, I just upgraded to 1.3.2 and my "prod" environment (the only one beside "default") stopped working.

Couldn't find anything in the release notes, but adding

[code]

Solved my issue

[2015-07-22 14:32] krimdomu commented on #741
Hi @ehuelsmann,

thanks for the hint. We're going to fix this. But currently i can't do anything on the computer because my handwrists are injured. So sorry for the delay.

[2015-07-22 15:29] ehuelsmann commented on #741
Hi Jan,

Especially in the condition you describe: thanks for letting me know! (And
get well!)

Regards,

Erik.

[2015-07-22 16:12] petersonchen commented on #742
After the issue #639 ,  I  need to add the code  you provided as well.

[2015-07-22 20:55] ferki commented on #741
@ehuelsmann: thanks for the issue and for the additional details!

The dependencies are autogenerated by Dist::Zilla during buildtime (e.g. for CPAN), so that's why we don't list it explicitly in `dist.ini`.

We need to add `libhash-merge-perl` to the OS-specific package build instructions though.

[2015-07-22 21:36] ferki commented on #742
@ehuelsmann, @petersonchen: can you please share some more info about your original use case? Like how you call rex from the CLI?

Is it something like `rex -E prod task`, but not specifying and environment called `prod` in the Rexfile?

[2015-07-22 21:52] ehuelsmann commented on #742
Hi FErki,

Indeed, in 1.0.1, there was no need to define the environments in the
Rexfile; I simply had "server.{environment}.ini" and "cmdb/{environment}".
Then, I'd invoke

   $ rex -E prod task

or

  $ rex -E default task

and it would run using the appropriate targets and configurations.

Regards,

Erik

[2015-07-24 12:08] ferki opened #743 "Wrong class used with parallelism and Parallel::ForkManager"
In `Rex::TaskList::Parallel_ForkManager`, line 50 `Rex::Fork::Manager` should be `Parallel::ForkManager`

@krimdomu

[2015-07-27 06:50] bnjf opened #746 "hard requirement on 5.8.8?"
Is there a particular reason for the hard requirement on 5.8._8_?  Some older OSs (Solaris 10 in particular) ship with an older version, with vendor patches.  I've changed it to 5.8.4 and rex seems to connect fine, run its jobs, etc.

[code]

[2015-07-27 07:48] ferki commented on #746
@bnjf: hi, in general the dependency we aim for is "the latest patch versoin for every minor version since 5.8". So for 5.8.x it is 5.8.9.

We decreased it to 5.8.8 only because of CentOS/Red Hat 5, which is technically shipped with 5.8.8, but has a backported fix to this issue (for details, see also #578). Of course, a better solution for this would be to accept 5.8.8 only on CentOS/Red Hat 5.

W

[2015-07-28 00:24] bnjf commented on #746
(I'll see what I can do about a KVM image)

No good, it's hit by that bug.  I'll raise a case with Oracle.

[code]

For reference, here's the applied patches:
  Locally applied patches:
        22667 The optree builder was looping when constructing the ops ...
        22715 Upgrade to FileCache 1.04
        22733 Missing copyright in the README.
        22746 fix a coredump caused by rv2gv not ful

[2015-07-28 21:49] ehuelsmann opened #748 "'update_system' reports installed packages as having been installed"
On one of my systems, 'update_system' reports a whole slew of packages as having been installed while they were already before running 'update_system'.

This is (an extract of) the output:

[code]

My task looks like this:

[code]

The output from
[code]

contains an interesting fact: When taking a sample of the packages being reported as installed (when they were not), are being reported twice in

[2015-07-28 21:55] ehuelsmann commented on #748
Reason for the doubles: multi-arch support. There's a package for amd64 and a package for i386 support.

[2015-07-30 14:49] kablamo commented on #706
Correct me if I'm wrong, but I think a hash doesn't work in the edge case where you have
[code]
For that situation you would need an arrayref.

[2015-07-30 21:25] ferki opened #751 "Be explicit about unsupported platforms"
I believe the "only install on supported Windows systems" question can be solved in a quite clean way by pushing OS version detection into `Makefile.PL`, for example with [Dist::Zilla::Plugin::MakeMaker::Awesome](https://metacpan.org/pod/Dist::Zilla::Plugin::MakeMaker::Awesome) in `dist.ini` (pseudocode):
[code]
I believe this would also prevent spamming the automated CPAN Testers reports with fai

[2015-08-03 07:15] #687 closed

[2015-08-03 18:41] kablamo commented on #706
This is way more complicated than it looks on the surface.  There are at least 4 separate questions present in this issue.  I will try to answer each one.

**1. Why are there two methods for running tasks?***  Correct me if I'm wrong -- I believe the fundamental problem here and the reason this is so confusing to users is that there are two method for running tasks.  There should just be one.   I

[2015-08-03 19:46] ferki commented on #706
@kablamo: wow, thanks for the in-depth analysis! I think this would be even better to put into the wiki as it is more like a design discussion, than a direct answer to the original issue here. Basically (at least) those were the topics I referred to earlier on #697, when I mentioned "we're trying to solve too much different underlying problems on one issue".

1. `do_task` vs. `run_task`: I agree t

[2015-08-03 21:28] theappleman opened #753 "Cannot control services if systemctl is found but systemd is not active"
Running Gentoo with OpenRC as the active init system, however systemd is installed.

Because of the Rex::Service logic and can_run, systemd is always used and cannot be corrected with service_provider_for:
https://github.com/RexOps/Rex/blob/master/lib/Rex/Service.pm

[code]

My usual technique for testing for systemd is to check the return code, however I don't think can_run does.

[code]

I could

[2015-08-03 22:28] ferki commented on #753
Well, it should be possible to force a specific service provider with [`service_provider_for`](http://www.rexify.org/api/Rex/Commands/Service.pm.html#service_provider_for-os-type-), but I think it would also possible to add one more condition to [this line](https://github.com/RexOps/Rex/blob/master/lib/Rex/Service.pm#L50) for automatic detection.

[2015-08-04 07:59] theappleman commented on #753
service_provider_for [appends](https://github.com/RexOps/Rex/blob/master/lib/Rex/Service.pm#L67) to the detected service provider, e.g.:

[code]

and while this affects me in Gentoo, could other distros install systemd without using it for init?

[2015-08-04 09:10] ferki commented on #753
Oh, at first glance, it looks like there's no way to force using the default service provider. My bad, sorry. And it's a good question whether other distros can be hit by this. I guess we can just fix it for all of them regardless if it can happen on them or not.

BTW, out of curiosity, what is the use case of having systemd installed, but not used for init (apart from "just installed, but not reb

[2015-08-04 09:38] theappleman commented on #753
Mostly that. The embedded system I'm running this on didn't like the kernel command line change (adding "init=/usr/lib/systemd/systemd"), so it's back to as it was.

Thanks for looking into it!

[2015-08-04 11:56] kablamo commented on #706
Cool.  I think the most fundamental issue which needs to get solved first is **How should we indicate if a task succeeded or failed**.  So thats what I'm working on now.  I believe my summary pr (https://github.com/RexOps/Rex/pull/697) will resolve this.

In response to your feedback above for the summary pr:
1. It is missing an implementation for Parallel::ForkManager though.  I'll see if I can a

[2015-08-10 15:27] mbroadhead opened #756 "Enough stderr output in a run() call makes it hang forever when set_no_tty=1"
I've found an issue that when a script outputs too much stderr, the call hangs forever under OpenSSH.
$ rex -v
(R)?ex 1.3.2

Here is my Rexfile:
[code]

Call it like so:
[code]

If it doesn't hang for you, increase the --count parameter and eventually it does. Interestingly, this doesn't happen when printing to STDOUT.

This problem presents itself only when set_no_tty=1. If set_no_tty=0, then it

[2015-08-10 15:40] ferki commented on #756
Confirmed. It would be nice if we could crosscheck somehow whether it's a bug in the Rex code or in Net::OpenSSH (or both).

[2015-08-10 17:24] #694 closed

[2015-08-10 17:27] ferki commented on #694
I added tests for this to rex-build, based on the first example here. Test results seems OK, so I merged the fix.

[2015-08-10 21:04] #743 closed

[2015-08-11 13:42] eskaaren commented on #400
+1

Also when Rex exits from no Rexfile or no task found the exit code is 0 when it should be 1 or 255 or whatever so that external programs like Jenkins can fail.

[2015-08-16 22:20] ferki commented on #742
I still think the default behaviour should be to fail in this scenario (an environment is specified on the command line, but not defined in Rexfile), but I also agree there might be a reason to do this (as you presented it too).

So after all I believe a pair of feature flags are warranted here to opt-in for/opt-out from "I know what I'm doing, and I don't care if my environment is undefined, plea

[2015-08-18 13:19] eskaaren opened #760 "Timeout does not work with OpenSSH"
From irc discussion, it seems like $timeout is not passed to the constructor when using OpenSSH:

[15:00] <FErki> but judging by a quick glance, the timeout is handled by the Rex::Interface::Connection::OpenSSH::connect() method (like getting the set value or defaulting to 3), but looks like it doesn't actually get passed to Net::OpenSSH constructor
[15:01] <FErki> I wonder why that didn't cause a

[2015-08-18 14:25] eskaaren opened #761 "Exit code when running task"
Rex exits with 0 which means success when in fact a SSH connection has failed and the task is not run. This means that also Jenkins jobs will succeed when using Rex even if it really failed.

From CLI.pm around line 585
[code]

Should perhaps be:
[code]

[2015-08-18 15:47] ferki commented on #684
Looks like we lack info here, and there are no updates in a while, so I'm closing this for now. Feel free to reopen if happens again, or where there are more info becomes available.

[2015-08-18 15:47] #684 closed

[2015-08-19 16:15] mestia opened #763 "failing tests"
Dear Rex developers, running autopkgtest [0] on Rex debian package revealed a couple of failed tests:
[code]

Thank you,
Alex

[0] https://pkg-perl.alioth.debian.org/autopkgtest.html

[2015-08-19 21:28] ferki commented on #763
@mestia: thanks for the report! We run the same tests (and lot more) before creating our deb files, so it's a bit weird, but there might be some problems packaging.

Can you please attach a link to the package you used when you got the failing test? Also maybe the debian version the problems appeared, and the command with which we can try to reproduce it, please? I'm unfortunately not familiar wit

[2015-08-20 15:57] mestia commented on #763
Hi here are the steps to run autopkgtests on a debianized source.

1. ```aptitude install autopkgtest pkg-perl-autopkgtest```

2. ```aptitude install schroot sbuild```
   It is usefull to use a minimal chroot and start with clean minimal system.

3. create the minimal chroot
[code]
4. ```git clone git://anonscm.debian.org/pkg-perl/packages/rex.git```

6. ```adt-run --unbuilt-tree rex  --- schroot

[2015-08-21 07:28] petersonchen commented on #742
@ferki

I'm ok with your idea.
Thank you

[2015-08-22 07:36] #748 closed

[2015-08-22 14:44] #760 closed

[2015-08-22 15:04] #686 closed

[2015-08-22 19:49] ferki commented on #763
Ah! So it's not the deb package from `rex.linux-files.org` :)

Looks like the file `ChangeLog` is not there where the tests are expecting it (testing if Rex can recognize something as a file, and testing if an `ls` command's output is looking right). Though it seems it's there in the `git://anonscm.debian.org/pkg-perl/packages/rex.git` repo.

@mestia: do you have an idea why that could happen?

[2015-08-23 09:23] ferki commented on #741
@ehuelsmann: the nightly builds should already be fixed. Last known issue is to build a 64bit `perl-Hash-Merge` RPM for CentOS 5.

[2015-08-23 12:58] ferki commented on #740
@arpadszasz: thanks for repoting this, and sorry for the late reply. Looks like there was a missing redirect in our config, and it should work now:
[code]

[2015-08-23 12:58] #740 closed

[2015-08-23 14:17] ferki commented on #696
This bug got introduced with PR #672 (d699d50, fixing #491), and looks like #743 was an unrecognized duplicate report. Since the latter has already been fixed on #744 (2b6764c), I also close this one. Feel free to reopen if you still experience this.

[2015-08-23 14:17] #696 closed

[2015-08-23 16:58] ferki commented on #742
So after an IRC discussion with @ehuelsmann, we think that:
- rex should show a warning, if an environment has been requested on the command line with `-E`, but it is not specified in the Rexfile, as this indicates a potential mistake
- for those, who are doing this intentionally, rex should provide a way to suppress this warning. This can be achieved by specifying an empty/dummy environment in th

[2015-08-23 17:05] ferki commented on #741
All package and nightly builds have finished successfully \o/

[2015-08-23 17:05] #741 closed

[2015-08-23 19:03] #742 closed

[2015-08-23 19:55] #751 closed

[2015-08-23 21:25] #753 closed

[2015-08-25 08:07] stiron opened #771 "Installing from CPAN fails with missing dependencies"
Hello,

Installing Rex from CPAN is failing due to missing dependencies.

OS: CentOS 7
Perl: 5.20.2

2 dependencies missing (XML::Simple,XML::LibXML); additionally test harness failed
  /usr/bin/make test -- NOT OK
//hint// to see the cpan-testers results for installing this module, try:
  reports FERKI/Rex-1.3.2.tar.gz
Failed during this command:
 SHLOMIF/XML-LibXML-2.0121.tar.gz             : wr

[2015-08-25 08:31] ferki commented on #771
@stiron: thanks for the report! But, _dude_, Rex does [list those as dependencies on CPAN](https://metacpan.org/source/FERKI/Rex-1.3.2/Makefile.PL), and they are deps for quite a while now. Can it be that XML::Simple and XML::LibXML just simply cannot be built on CentOS 7 and/or onoyour machine for some reason?

[2015-08-25 11:46] stiron commented on #771
I think I ran into the same problem with the system perls of CentOS 7 and Ubuntu 14.04. CPAN and cpanm compiles all of the dependencies and install them without these three.

[2015-08-25 12:10] eskaaren commented on #771
I can confirm that I have Rex running on CentOS 7 without problems.

Do you have libxml2 installed via yum?

[2015-08-25 13:38] ferki commented on #771
So `XML::Parser` needs `Expat` installed, and `XML::LibXML` needs `libxml2` installed to be built - both of which is out of the scope what CPAN clients can install on a machine (would need bundling, building from source, or installing via the OS's package manager). The respective build systems of the dependencies print out what they need, as they ar expected.

I'm gonna close this for now, as it d

[2015-08-25 13:38] #771 closed

[2015-08-27 21:22] kablamo opened #775 "Bug: rex -H host1 -H host2 task"
If you run this command:
[code]
You get the following error:
[code]

[2015-08-28 14:26] mestia commented on #763
Sorry for the late answer.
In case with the ChangeLog file the test (smoke) didn't copy the ChangeLog to the temporary directory, and thus filed. I see now how I can fix it, but of course this is something you shouldn't care about. Sorry for the noise.
But there are still issues like the last one (  Bareword "Rex::is_sudo" ) , I an not completely sure, but it seems like this one can point to a pot

[2015-08-29 11:44] ferki commented on #763
@mestia: thanks for the feedback. Hmm..that one is interesting, but I have to admit that I have a hard time figuring out what exactly is going on here. I mean I don't understand how your deb is being built, therefore I have a hard time to debug what can be the problem.

Based on the error message, I guess something is not imported in your files (`is_sudo()` is included in `Rex.pm`), but how could

[2015-08-30 00:04] kablamo commented on #761
There are a couple problems here.

1. First of all, I don't think this if block should exist.  Long term, we should delete it.  Children should exit earlier.  That probably won't happen soon because its hard to verify all the logic.

2. This block definitely should not get executed when an ssh connection fails.  I've been cleaning up some of the forking code and it no longer happens in my branch h

[2015-08-30 00:54] kablamo commented on #761
ok apparently exit codes can only be 8 bits.  The 65820 came from `$?` when a coderef died.  Instead of using `$?` I think we should use `$? >> 8`.  That gives me 255.

http://stackoverflow.com/questions/32292101/why-does-exit65280-cause-perl-to-exit-with-an-exit-status-of-0

[2015-08-30 01:50] kablamo commented on #761
Ok I fixed this in my branch #697.  Here is the commit:
https://github.com/kablamo/Rex/commit/d0b67aed2480311b51fe9b1a505050cd437cbc22

[2015-08-30 02:03] kablamo commented on #756
Confirmed also.  Works fine if I use ssh on the command line.  I'm leaning towards it being a Net::OpenSSH bug.  If I add debug statements around here:
https://github.com/RexOps/Rex/blob/master/lib/Rex/Interface/Exec/OpenSSH.pm#L38
I can see it hangs while trying to read from `$out_fh`.

I think the next step is to try to recreate this using just Net::OpenSSH and if thats possible, submitting it a

[2015-08-30 02:39] kablamo commented on #746
Maybe build your own perl?  http://perlbrew.pl/ or https://github.com/tokuhirom/Perl-Build

[2015-08-30 12:52] ehuelsmann opened #776 "Links in Rex::Commands "COMMANDLIST" section broken"
On the website, the links in the "COMMANDSLIST" section on http://www.rexify.org/api/Rex/Commands.pm.html do nothing when I click on them (Chrome, latest).

[2015-08-30 12:54] kablamo commented on #635
Children should exit before the if statement in Rex::CLI.  This problem will be resolved by https://github.com/RexOps/Rex/pull/697

[2015-08-30 12:56] #628 closed

[2015-08-30 12:57] #630 closed

[2015-08-30 13:08] ehuelsmann opened #777 "Missing documentation how to use resources and reporting"
While there are several mentions of "resource style calling", there's no mention of how to create one's own resources in order to be able to use reporting.

[2015-08-31 00:07] kablamo commented on #400
I think this pr will go a long way to resolving all the issues mentioned here:
https://github.com/RexOps/Rex/pull/697

[2015-09-01 03:30] bollwarm commented on #775
rex -H “host1 host2”  task
this is the right way

[2015-09-03 09:01] ferki commented on #756
I plan to take a deeper look at it together with the author of Net::OpenSSH at the upcoming Perl, SSH & Rex hackathon this Saturday at YAPC::EU ^^

[2015-09-03 09:14] ferki commented on #746
We can (should :) also mention this on the website, and/or set up an "instructions for solaris" page, or something along those lines.

[2015-09-03 09:32] ferki commented on #776
@ehuelsmann: good catch, thanks for reporting! :)

[2015-09-03 09:55] ferki commented on #628
@kablamo: sorry for the untimely response. We can of course discuss this, especially since `before`/`after`/`around` has this option, and it sounds like a good idea to provide the same options among those commands.

Can you also provide me an example use case, please? I'd like to understand the situation where it might be needed in practice (I mean I never had to actually use these guys for some r

[2015-09-03 10:00] bnjf commented on #746
hang in there, I've got a PR open with Oracle... might be able to get the problem with multiline qr's patched

[2015-09-03 14:39] kablamo commented on #628
No worries @ferki.  I closed it because I'm thinking of doing it differently and already have something in another pr.  My plan was to add task options to the Rex::Task object.  If we do that, then this is no longer necessary.

[2015-09-03 15:39] ferki commented on #775
@bollwarm: you're right, but having a _group_ error in this case still sounds a bit weird ^^

[2015-09-03 16:05] ferki opened #780 "Evaluate Net::SSH::Any for unified/simplified SSH interfacing"

[2015-09-03 16:06] ferki opened #781 "Evaluate File::Which for improving/simplifying can_run"

[2015-09-03 16:39] ferki opened #783 "Experimental Cisco device support"
With the recent improvements around shell detection, I believe it would be reasonably simple to add at least initial support for more "exotic" remotes (via e.g. `Rex::Interface::Shell::Cisco` or similar).

@shafiev: IIRC you mentioned Cisco network device support shortly at YAPC::EU, and that you might be able to help with the research and/or testing, right? If you're still in Granada for the hack

[2015-09-03 17:23] ferki commented on #776
Fixed in the release-1.3.3 branch.

[2015-09-03 17:33] ferki opened #785 "Check/fix modules list for PAR packing in bin/rexify"
And possibly generate that list automatically.

[2015-09-03 17:56] shafiev commented on #783
OK I will give a switch via VPN . please install to you computer vpnc or
something to I can give you VPN .
On Sep 3, 2015 6:39 PM, "Ferenc Erki" <notifications@github.com> wrote:

[2015-09-03 18:19] ferki commented on #783
Great! I installed vpnc-0.5.3.

[2015-09-04 08:07] ehuelsmann commented on #775
On reddit, there's a thread pointing out that rex is pretty inconsistent here:
https://www.reddit.com/r/linuxadmin/comments/36263g/has_anyone_used_rexify_for_configuration/

I was hoping this issue was both about the error *and* to resolve the fact that ```-H host1 -H host2``` doesn't work.

[2015-09-04 10:47] ferki commented on #775
@ehuelsmann: thanks for the link! It's interesting that an inconsistency has been described at such lengths on reddit instead of notifying us :) It's also interesting, that so far it wasn't a big problem in practice - I guess that's because the model in Rex focuses on registering tasks with host(s) or groups of hosts, instead of on ad-hoc command running (needs to be documented, right :). Looks li

[2015-09-04 13:30] ipcjk commented on #721
I have already seen Digest::MD5 not installed by default e.g. on RHEL7.

[2015-09-04 13:45] ferki commented on #721
@ipcjk: thanks for the info! Do you also have some resources which explain why did they chose not to provide core perl modules by default? I mean I accept this as a fact, and looks like we need to be more careful about module availability on the remotes, but I'd like to understand their reasons too :)

[2015-09-04 15:20] #776 closed

[2015-09-04 15:46] ferki opened #786 "Update sudo docs"
To include the "custom sudo user" case (added in 0.42).

[2015-09-04 18:02] ipcjk commented on #721
Maybe its the old redhat perl problem?
http://www.nntp.perl.org/group/perl.perl5.porters/2009/08/msg149747.html

The contents of the current perl package is viewable here http://rpm.pbone.net/index.php3/stat/6/idpl/29075650/dir/centos_7/com/perl-5.16.3-285.el7.x86_64.rpm

I always put a dependency on the package perl-Digest-MD5 in my Rexfile or else things will break. Maybe we can put a warning an

[2015-09-04 18:38] ferki commented on #721
@ipcjk: thanks for the useful info! I think we can try to detect availability first, and printing out a nice error message, or even try to install it (after enabling a useflag). It might also worth to open an issue in Red Hat's tracker about it, but I doubt it's going to be fixed (at least soon-ish). Anyhow I'd like to avoid hijacking this issue and handle those todos on a different one.

[2015-09-05 10:55] ferki commented on #712
After carefully considering different use-cases and possibilities with @jluis, we decided not to implement this as a feature in Rex. Instead, we're going to document the multiple file creation options, including examples for glob usage, and also warnings about possible pitfalls.

[2015-09-05 15:13] ferki commented on #756
Looks like this happens because the pipes attached to STDOUT and STDIN are being drained separetely instead of concurrently. So when the transfer window reaches its limit (64k on my machine) it stops the process to wait for the buffer to be drained before continuing.

[2015-09-05 16:40] kablamo commented on #756
Ah, that makes sense.  But its not clear to me how to drain them concurrently.  Probably requires with lots of `select()` monkey business and other filehandle magic.

I'm new to Net::OpenSSH, but my guess is we should outsource the filehandle magic to Net::OpenSSH by using `$ssh->pipe_in()` when people don't want a tty and `$ssh->open2pty()` when people do want a pty.  I don't see why anyone would

[2015-09-05 16:57] ferki commented on #756
The [`_io3` implementation](https://github.com/salva/p5-Net-OpenSSH/blob/master/lib/Net/OpenSSH.pm#L1688-L1819) within `Net::OpenSSH` can be used as a reference. @salva (author of `Net::OpenSSH`) suggested copy-pasting it, and then reducing/simplifying it so it only does what Rex needs.

@kablamo: you're right, while dealing with `Net::OpenSSH` directly, it most probably would be possible to use a

[2015-09-05 17:33] kablamo commented on #756
Oh right.  `Net::SSH::Any` doesn't support `open2pty()` or `pipe_in()`.

I love the idea of `Net::SSH::Any` but I would argue the streaming output problem solved by using `open2pty()` and `pipe_in()` are much more important than the code simplification gain we get from using `Net::SSH::Any`.

[2015-09-06 19:24] ferki commented on #756
@kablamo: of course, we're gonna fix this first! There's probably a long way till using `Net::SSH::Any` fully, but the idea is to add SSH-related functionality there (and/or in related modules), instead of in Rex. Sorry if it sounded confusing, I think we just found our first candidates :)

[2015-09-08 07:44] mestia commented on #763
@ferki: thank you for looking on it. I'll check what could be wrong with the tests. Right now I am closing the issue.

[2015-09-08 07:44] #763 closed

[2015-09-08 11:32] ferki commented on #763
@mestia: thanks for the feedback, and that you take care of the issue status! ;) Feel free to reopen it or open a new one if needed.

ps.: you probably have noticed already, but 1.3.3 has just been released last week ;)

[2015-09-09 05:48] krimdomu opened #788 "first call of run_task might run on the wrong host"
(just a reminder, i need to figure out the circumstances)

[2015-09-09 09:28] ki0 opened #790 "Cloud service Amazon error"
Hi,

Following the howtos on rexify webpage with a simple script, i got this error:

2015-09-09 11:03:40] INFO - Running task sfcmin:create on <local>
[2015-09-09 11:03:40] INFO - Cloud Service Amazon not supported.
[2015-09-09 11:03:40] INFO -
[2015-09-09 11:03:40] ERROR - Error executing task:
[2015-09-09 11:03:40] ERROR - Can't locate object method "set_auth" via package "0" (perhaps you forgot

[2015-09-10 10:45] pacoesteban opened #791 "Rex fails to guess server name for some .ssh/config"
Having a config like this on .ssh/config

[code]

Rex fails to connect to any host without '*' (foo and bar in the example). It throws:

[code]
The ones with the wildcard work as expected, as any other Host entry defined in the config file.

[2015-09-12 18:46] mestia commented on #763
Yes, I have noticed it, just had a very busy week, I hope the next week I'll have enough time to check it out.

[2015-09-15 08:52] ipcjk opened #792 "Rex / Net::OpenSSH guesses wrong username"
I am using su - to switch to my deployment account. For whatever reason rex/net::openssh (0.64) is pulling out my original ssh connection username, even though I have an clear environment.

joerg:~$ sshg3 joerg@linde
Authentication successful.
joerg@linde:~$ su - sysop-rex
Password:
sysop-rex@linde:~$ rex  -dd -H linde2 uptime
[2015-09-15 10:44:09] DEBUG - This is Rex version: 1.3.2
[2015-09-15 10

[2015-09-15 10:33] ipcjk commented on #792
I send a pull request for this one. My natural order would be to prefer the current uid before the original getlogin() return.

[2015-09-15 18:49] mbroadhead opened #794 "The after hook should run even if we fail to connect the the host"
In the [API documentation](http://www.rexify.org/api/Rex/Commands.pm.html#after-task-sub-), it implies that the "after" hook will execute even if we fail to connect to the server:

[code]

However, when I run a simple test, it does not execute the after hook if it fails to connect:
[code]

[code]

As you can see, the above execution did not output "after foo" as I was expecting.

[2015-09-15 21:00] kablamo commented on #794
I agree that it should run the after hook.  This was a problem for me too.  I would love to see a pr for this.

In the short term, I just discovered there is an undocumented "exit_hook" in Rex::CLI which might help you depending on what you need.  Just be aware that kind of undocumented internal stuff could change or disappear.  To solve this, I wrote my own version of `run()` called `runt()` and

[2015-09-15 22:19] mbroadhead commented on #794
@kablamo I actually created a whole new hook called "after_connect_failure" on a [branch](https://github.com/mbroadhead/Rex/commit/4e890e04410bbe41f6b67c252e96bbce5a241ab4) before I found out that the "after" hook was supposed to be used in this way. I imagine I can just use the logic I did there to call the "after" hook instead.  I'll look into the "exit_hook" in Rex::CLI too. Thanks for the sugg

[2015-09-22 13:37] krimdomu opened #796 "Net::OpenSSH can't set initialize_options for the constructor"
[code]

is not working

[2015-09-22 13:40] #796 closed

[2015-09-23 18:43] ferki commented on #794
@mbroadhead: is is possible that the [`after_task_finished`](http://www.rexify.org/api/Rex/Commands.pm.html#after_task_finished-task-sub-) hook solves your problem? I tried your example locally, could reproduce it, then I replaced the `after` hook with `after_task_finished`, and I think it worked as you described your expectations (i.e. it ran despite the SSH connection failure).

Of course, the d

[2015-09-25 18:16] mbroadhead commented on #794
@ferki The [after_task_finished](http://www.rexify.org/api/Rex/Commands.pm.html#after_task_finished-task-sub-) hook only runs once after the task has been executed on all hosts, right? Also, nothing tracks which hosts failed to connect, so that information is not available inside the after_task_finished hook. The benefit of the [after](http://www.rexify.org/api/Rex/Commands.pm.html#after-task-sub-

[2015-09-25 18:40] kablamo commented on #794
@mbroadhead You might also be interested in this pr which summarizes success/failure at the end of a rex run: https://github.com/RexOps/Rex/pull/697

Its related, but doesn't really solve this issue imo.  I want to be able to take action immediately when a task fails.  For example I want to log the failure to hipchat/slack/irc/whatever.

[2015-09-25 18:51] mbroadhead commented on #794
@kablamo #697 is an excellent PR that I'd like to see implemented. It would be interesting to have that summary available to the user in some kind of variable available in the <code>after_task_finished</code> hook. The user could then use the report in many different ways. In my case, send the report via email.

But as you note, #697 PR doesn't solve this issue. Being able to take immediate action

[2015-10-02 08:26] ferki opened #799 "Semicolon in code block output breaks template_ng"
The following template can be successfully processed by both the old and the new templating engine:
[code]
It obviously returns 1.

However the following template can only be successfully processed by the old engine (the only difference is a semicolon):
[code]

`Template::NG` fails with a syntax error, because it tries to process it internally as:
[code]

[2015-10-02 08:58] ferki commented on #799
ps.: looks like there's a similar problem with `}` in the code block output too

[2015-10-02 09:12] ferki commented on #799
Hmm, actually (some?) other template engines doesn't seem to support these cases either (based on reading Mojo::Template docs so far). Maybe Rex should just fail with a nicer error message?

[2015-10-02 14:18] ferki commented on #467
@krimdomu: I can detect this, but I'm not sure how harsh this should be. Error and `die`ing, or warning but continuing, or just a debug.

I think it's only a problem if someone registers the tasknames as functions (default behaviour as of 1.3.3), and then have a taskname that is named the same as a builtin, and then tries to run the task as a perl function.

So even disabling taks name registratio

[2015-10-03 09:45] krimdomu commented on #458
this is no bug anymore:

[code]

Output:

[code]

[2015-10-03 09:45] #458 closed

[2015-10-03 09:56] krimdomu commented on #467
@ferki the registration of a taskname as a function is default behaviour since many versions (maybe since 0.20 or so). Disabling task registration as a function is no option.

The only problem there is that `$class->can()` doesn't respond positive on internal functions. So the task can overwrite an internal function which we should prevent. With something like `CORE->can()`.

[2015-10-03 10:00] krimdomu commented on #467
We can also think of creating task functions with a special naming syntax like:

[code]

Will register a function `task_foo()` to execute the task code on the current connection and `execute_foo()` to execute the task like calling it with `do_task`.
And then printing out a warning message that the task registration with its name gets removed in one of the next releases. (which then can be reactiva

[2015-10-03 10:03] krimdomu commented on #494
Due to inactivity and because of the last comment i'm  going to close this issue.
Everyone feel free to open it again if the problem appears again.

[2015-10-03 10:03] #494 closed

[2015-10-03 10:04] krimdomu commented on #556
This is already done: http://www.rexify.org/docs/guides/cheat_sheet.html

[2015-10-03 10:04] #556 closed

[2015-10-03 10:11] krimdomu commented on #581
@ferki
the question here is, do i want to have a user created with a group i don't know? Because some systems then just create a default group for this user.
What if the group for this user is created after the user creation (accidentally) Then the user would be added to the right group with the next run, but the obsolete auto-generated group will be there for ever.

i prefer the behaviour that `c

[2015-10-03 15:06] ferki commented on #467
Task name prefixing during registration as a subroutine is a good idea. If we unify (or at least move closer) `do_task` and `run_task` syntax, then `execute_foo()` might become redundant. I guess we'll see at that point:)

Until then, I think I will handle it as an error, and stop execution at that point, with an error message along the lines of:
[code]
I think this has the best "prevention" effec

[2015-10-03 15:36] krimdomu commented on #467
:+1:

[2015-10-03 15:55] ferki commented on #458
I tried, but couldn't even reproduce it.

@krimdomu: do you know in which commit it got fixed?

[2015-10-03 17:36] ferki commented on #581
@krimdomu: in my experience it is confusing to users, who expects that Rex will figure it out for them.

How about letting `create_user` account fail in this case, but letting the `account` resource to check if the primary group exists, and if not, create it before calling `create_user`. My reason to do this is when I use  `account`, I kind of describe the expected state of the remote, and I don't

[2015-10-03 17:38] ferki commented on #556
:+1:

[2015-10-03 20:12] krimdomu commented on #458
no i don't.
i wanted to fix it, but then realized that it worked.

[2015-10-03 20:14] krimdomu commented on #581
i think the `force_groups` option is a good choice.

[2015-10-05 01:35] kablamo commented on #623
I've been thinking about the command line UI too.  I"ve been trying to evolve the current cli to something that works like this:

[code]

One thought I keep having is that the root level namespace should be reserved for subcommands and all user created tasks should live somewhere else.

[2015-10-05 07:35] krimdomu commented on #623
@kablamo yes this looks good. and also the idea with the root level namespace. i think it would be good to have it this way, because then we can custom commands to it. Like migrating all the `rexify` commands.

And it would be cool to have the ability to extend these root-level commands with custom plugins.

[code]

[2015-10-06 14:01] fr34k8 commented on #581
+1 force_groups

[2015-10-06 14:28] ferki commented on #581
@fr34k8: thanks for the reinforcement in the idea!

[2015-10-08 07:04] krimdomu commented on #794
yes, this is indeed a bug in the code and not in the documentation.
the after hook should also run when the connection fails.

[2015-10-08 08:48] fr34k8 commented on #581
makes sense if we abstract more

but only with a check already present in combination with the force_groups statement

[2015-10-14 08:37] fr34k8 commented on #785
+1 to use the bundle command in rexify binary

[2015-10-16 02:49] petersonchen opened #806 "Can't locate IO/String.pm in @INC when using Rex::Commands::Augeas"
Hi Rex Team ,

I use Rex V1.2.1 ,
when using Rex::Commands::Augeas  in my Rexfile and run will output below message :

Can't locate IO/String.pm in @INC (@INC contains: CODE(0x20ad398)

Is this dependency module required  to install ?

[2015-10-17 12:55] ferki commented on #806
Yes, `IO::String` is a dependency, and I just checked on CPAN that it was already a [dependency for 1.2.1](https://metacpan.org/pod/release/JFRIED/Rex-1.2.1/lib/Rex.pm). How did you install rex-1.2.1? Can you reinstall it to see if that pulls in the dependency this time?

[2015-10-17 13:31] theappleman opened #807 "Rex::Test::Base doesn't handle spaces in VM names"
I'm using the example code from [Rex::Test:Base](http://www.rexify.org/docs/api/1.3/rex/test/base.pm.html) (with the exception that I'm using libvirtd KVM boxes rather than virtualbox).

The example code has the line:

[code]

However, during the setup, rex is not able to set up the instance:

[code]

It is trying to run the command:

[code]

...which you can see the filename argument is split int

[2015-10-17 13:42] ferki commented on #807
@theappleman: thanks for the report! I guess it would be enough to quote the filenames for libvirt operations in `Rex::Virtualization::LibVirt::*`.

[2015-10-18 16:57] petersonchen commented on #806
@ferki

I use rex on CentOS 6 , I followed  http://www.rexify.org/get.html  to install rex rex-1.2.1

$ rpm --import https://rex.linux-files.org/RPM-GPG-KEY-REXIFY-REPO.CENTOS6
$ cat >/etc/yum.repos.d/rex.repo <<EOF
[rex]
name=Fedora \$releasever - \$basearch - Rex Repository
baseurl=https://rex.linux-files.org/CentOS/\$releasever/rex/\$basearch/
enabled=1
EOF
$ yum install rex

[2015-10-19 08:47] theappleman opened #808 "Rex::Test has_service_running kills test when service does not exist"
Running Rex::Test::Base->has_service_running against a service that does exist dies with an error instead of returning "not ok".

[code]

Returns:
[code]
instead of:
[code]

[2015-10-20 16:43] protoCall7 commented on #470
Extracted the mkfs logic from LVM.pm and Partitions.pm into Mkfs.pm.

[2015-10-25 20:18] mbroadhead opened #811 "Feature 0.51 breaks custom cmdb paths in a Rex::Test::Base file"
For some reason activating the 0.51 feature set overrides or ignores the cmdb that you setup in your Rexfile inside project tests. This is best explained with, well, a test.
Consider the following example project:

$ find test-project/
test-project/
test-project/cmdb
test-project/cmdb/custom.yml
[code]
test-project/cmdb/default.yml
[code]
test-project/Rexfile
[code]
test-project/t
test-project/t/f

[2015-10-26 16:58] krimdomu commented on #811
Hi @mbroadhead
this is indeed  a bug. Thanks for the ticket.

[2015-10-30 06:31] #712 closed

[2015-10-31 13:40] #788 closed

[2015-11-01 16:39] kablamo opened #818 "Proposal: task usage"
I would like to have a way of describing which parameters and arguments are available for a given task.  Here is what I'm thinking would be nice behavior to have:

[code]

The following commands should work the same way:
[code]

Here is how a user would (optionally) specify the usage in the task definition:
[code]

To extend this idea a bit: Doing `--help` on a namespace will list the tasks in tha

[2015-11-01 18:20] mbroadhead commented on #818
I like this idea.

How deep would the namespace help listing go? If there was a sys::foo namespace, would `rex sys --help` list the the tasks within it? My preference would be only tasks within the sys namespace, no child namespaces. It might be helpful to list the child namespaces (without any tasks) so you know they are there though. For example:
[code]
Then you could run another help for sys:fo

[2015-11-01 20:35] krimdomu commented on #818
Hi @kablamo ,
i like this feature. I always tried to add something similar but didn't found a way i liked yet. But, i think, with the additional *usage* keyword it is easy to understand and use.

Also the idea of parsing it and doing parameter validation is a cool idea.

[2015-11-01 22:39] ferki commented on #756
@mbroadhead, @kablamo, @krimdomu: it'd be nice if you could give a spin to my proposed fix for this on #820.

[2015-11-01 23:56] ferki opened #821 "t/task.t fails on Windows as it pulls in Net::OpenSSH"
[Example CPAN Testers report](http://www.cpantesters.org/cpan/report/d2438cc1-6bf3-1014-8dfe-ee7bd71bb930)

[t/task.t#L92](https://github.com/RexOps/Rex/blob/master/t/task.t#L92) seems to be problematic. I can reproduce this on linux too if I uninstall Net::OpenSSH (and install Net::SSH2).

[2015-11-02 03:10] mbroadhead commented on #756
@ferki: I just tested #820 on my Macbook and it works.

First, a run without your pull request. As you can see, it hung and I interrupted it:
[code]

With your pull request:
[code]

[2015-11-03 08:52] niceperl opened #823 "Failed test 'get connection type for ssh'"
When I install Rex on Windows with perl strawberry 5.20.2, it shows me an error:

[code]

[2015-11-03 10:16] krimdomu commented on #823
Hi @niceperl
thanks for the report. There is already a pull request open to fix this: #822

[2015-11-03 12:42] ferki commented on #823
I'm not 100% sure if they are the same issue. The failing tests on this issue are expecting a connection type of `OpenSSH`, and they do that if `Net::OpenSSH` is installed - which shuold not be the case on Windows, because `Net::OpenSSH` doesn't work on Windows.

Can it be that `Net::OpenSSH` is now installable on Windows? Or maybe it was force installed?

[2015-11-03 13:28] niceperl commented on #823
I had that issue (#821), and I installed `Net::OpenSSH` on Windows with `cpanm Net::OpenSSH` (yes, it works). Then `cpanm Rex`gave me the error I reported

[2015-11-03 13:46] krimdomu commented on #823
okay, then we should extend #822 with an additional detect. If it runs on windows, it must use Net::SSH2 because Net::OpenSSH doesn't run on windows. (At least that says the documentation)

https://metacpan.org/pod/Net::OpenSSH#Known-issues
[code]

[2015-11-03 17:28] krimdomu opened #824 "Add possibility to add caller to the Rex::Logger:: output"
This can be done by extending the format_string function from Rex::Logger module. https://github.com/RexOps/Rex/blob/master/lib/Rex/Logger.pm#L258

[2015-11-03 17:33] krimdomu opened #825 "Add module name to "running $task on current connection" message"
For this we just need to add the `$class` variable to the message. (https://github.com/RexOps/Rex/blob/master/lib/Rex/Commands.pm#L334)

[2015-11-03 21:08] mbroadhead opened #826 "rexify --bundle recursively copies its payload on Darwin"
The `rex --bundle` command executes `cp -vR * rex.payload/`. With GNU `cp`, it prevents copying directories into itself (tested on CentOS 6):
[code]

With Darwin's `cp` command, it does not prevent this, so you get stuck in an infinite copy loop.

We could use `rsync -av --exclude=rex.payload * rex.payload/` instead of using `cp` to fix this. Is there a better way?

Here is my setup:
[code]

[2015-11-03 22:31] mbroadhead commented on #826
It looks as though `rex --bundle` probably won't work on Darwin anyway, since it is unlikely that it will find `libexpat.so` and `libssh2.so`. We can probably just backlog this ticket for later until there is better Darwin support.

[2015-11-04 07:14] krimdomu commented on #826
@mbroadhead yes, currently the bundle is only supported on 64bit debian. I don't have a Darwin system where i can develop this feature.

[2015-11-05 13:27] ferki opened #827 "Calling tasks as a function with a single argument is broken"
Looks like if we call a task in its form as a registered function, and only pass a single argument (or odd number of arguments?), then it makes [Rex::Task#L806](https://github.com/RexOps/Rex/blob/master/lib/Rex/Task.pm#L806) to explode.

Commits aa775874ef93cb472454c8c0e54a16c09092cbc9 and/or b0416b1710611b900284ba5a2d9d74991fc4351b seem to be related.

[2015-11-06 16:08] patricklauer opened #828 "Rex/Args.pm: Undefined subroutine call"
At current git HEAD / commit e5733eab22d64aa9127afdd30765a4d67bbc039e:

[code]
Ok, it's kinda my fault for giving nonsensical input, but that looks like broken code :)

[2015-11-11 09:23] patricklauer opened #829 "Rex::Test module should allow setting parameters for VMs"
A problem we ran into a few times now is that the default KVM template generates a VM with 256MB memory. This makes it easy to have tests OOM.
We have a local workaround that pokes libvirt directly and reboots the test VM with larger memory limit. But this is just a workaround and not a nice solution.

It would be nice to be able to set at least some of the parameters directly, possibly syntax wou

[2015-11-11 19:22] patricklauer opened #830 "Rex::Test::Base: provide test for absence of file/dir ?"
Currently R::T::Base only has positive tests - has_dir, has_file.

In some situations negative tests would be convenient - "has_not_file". This can be emulated right now, but I think such functionality is best provided by the test module itself.

[2015-11-12 11:10] patricklauer opened #831 "Rex::Test::Base::run_task doesn't allow to pass arguments to tasks"
In tests one often ends up with a construct along the lines of:
[code]
Some tasks may need some extra arguments to do something useful, e.g. useradd needing the user name. Naively one would try something like:
[code]
But due to restrictions in the code no arguments can be passed, which makes tests a lot more tedious.

[2015-11-16 07:18] Prajithp opened #832 "alternative storage disk for kvm"
Is there any way to set alternative storage path for kvm?

 right now kvm images are creating under the /root/storage/ and  I would like to change this to /vm/images.

Here goes my sample Rexfile
[code]

[2015-11-16 07:30] krimdomu commented on #832
hi @Prajithp ,
i'm sorry but this is currently not possible. The path is currently hardcoded here: https://github.com/RexOps/Rex/blob/374bfd48e62406021b1a158fe67f72df2f1cde65/lib/Rex/Virtualization/LibVirt/import.pm#L39

But this would be easy to change.

[2015-11-16 08:16] ferki commented on #832
@Prajithp: until then symlinking might help as a quick and easy workaround- at least that's what I do when I quickly need to do the same.

[2015-11-16 10:09] krimdomu opened #833 "RFC: Template using PadWalker to access variables from inside task"
Hi,

it would be possible with the PadWalker Module (https://metacpan.org/pod/PadWalker) to get the variables that the user declared inside a task. With this it would be possible to the something like this:

[code]

[code]

So it would be possible to access the variables from inside a task in the template that gets parsed in the task. With this the user doesn't need to pass the variables to the te

[2015-11-16 10:48] ferki commented on #833
I love the idea! :+1:

 - Would it allow the templates to modify the value of those variables too?

 I think we should prevent this to disallow potentially dangerous operations (e.g. changing a `$command` variable's value to `rm -rf /`, which is later executed by `mytask` with `run`). At the same time, it can be very a powerful feature too (while making debugging harder ^^).

- Are there any alter

[2015-11-16 11:01] Prajithp commented on #832
@krimdomu  Thank you so much for the clarification.

@ferki Yes, symlinking seems to be the good  idea. But, I have already modified both Box/Base.pm and Virtualization/LibVirt/import.pm to use custom storage path. Please check the below diff.

[code]
[code]

[2015-11-16 11:19] krimdomu commented on #833
Yes, but it also says ;-)

No the variables wouldn't be possible to modify in the template.

[2015-11-16 13:41] kablamo commented on #833
Interesting.

Some questions
 - Is it slow?
 - Can it cause weird results?  Like if you have `$x` in the template and its not initialized will it get a value from the task and then the user who is expecting to see an uninitialized value will be surprised?  I think ferki has a point about it might make debugging harder?  Not sure.

Also it kind of violates the idea of low coupling.  If you change t

[2015-11-16 14:17] krimdomu commented on #833
I haven't done tests yet. So i don't know if it is fast or not.
I just wanted to know how the people thinks about such a feature before working on it.

Yes, the debugging might be harder, indeed. But this feature should not replace the current behavor. So if user provide their template variables as they are doing today, it should work. And also the manually passed parameters must have precedence o

[2015-11-17 12:38] reneeb commented on #833
I use PadWalker in production code. Not very often, but sometimes it's really handy...

IMHO this is a feature that should be enabled explicitly and needs lots of tests...

[2015-11-18 12:49] krimdomu opened #834 "add fallback to md5sum back to Rex::Commands::MD5"
because on some OSes (mainly rhel) Digest::MD5 is not installed by default. This confuses people. So we should add the fallback to `md5sum` again.

[2015-11-18 17:44] ferki commented on #833
@jfried:

:+1:

@kablamo: I think low coupling is already not there anymore, as CMDB variables are also exposed towards the templates :)

@reneeb: thanks for the feedback on PadWalker! I also think this behaviour can come in handy, and it should be explicitly requested (i.e. being explicit about "I know I want this").

[2015-11-18 17:48] ferki commented on #832
It's a bit harder to review copy-pasted patches than pull requests, but I think I only have one question at first glance. What is this new line's purpose?
[code]

[2015-11-18 18:39] krimdomu commented on #832
This is only a debug output. warn() is like print() but print on stderr.

[2015-11-19 09:50] ferki commented on #832
@krimdomu: I know what it does ;) I was just wondering why exactly is it there? :)

I was thinking like:

At that point, my question trigger fired, and just asked :)

Also, the POD seems to be missing for `Rex::Box::Base::storage`.

All those are very minor and we can clean up with a follow-up commit, or it can be fixed just before merging.

@Prajithp: it looks good in general, thanks! Are you con

[2015-11-19 13:28] Prajithp commented on #832
@ferki Sure, I can send a pull request, that is not an issue.

 Regarding that 'warn', it was added for just a debugging purpose.

[2015-11-19 16:12] Prajithp commented on #832
@ferki  @krimdomu  Created PR for this issue.

[2015-11-21 00:08] #834 closed

[2015-11-21 22:20] #832 closed

[2015-11-21 22:34] #821 closed

[2015-11-21 22:56] #827 closed

[2015-11-21 23:07] krimdomu commented on #737
added this also to master branch now. the Amazon modul (and also the other Cloud-Modules) needs a refactoring anyway. So we can add this until the refactor.

[2015-11-21 23:07] #737 closed

[2015-11-22 10:29] ferki commented on #790
#737 might be related

[2015-11-22 10:35] ferki commented on #635
Fixed in #697

[2015-11-22 10:35] #635 closed

[2015-11-22 10:42] ferki commented on #761
@kablamo: it looks like I still get an exit code of `0` when the SSH connection fails and/or when I run something simple to fail (e.g. `rex -e 'run "abcdef"'`).

[2015-11-22 11:20] ferki commented on #691
It's already fixed on #697

[2015-11-22 11:20] #691 closed

[2015-11-22 11:29] krimdomu commented on #790
hi @ki0
sorry for the late response. Could you please provide some more information?
Which endpoint are you using? Could you provide the task code? you can also send the task to my email address (jan.gehring@gmail.com).

[2015-11-22 18:51] #792 closed

[2015-11-22 22:33] ferki opened #836 "ip6tables support seems to break firewall resource"
At least VM tests are failing around rex-build's `tests/firewall.t` since #795 was merged.

[2015-11-22 22:36] ferki opened #837 "git tests fail"
rex-build tests for #797 (git switching) seems to fail

[2015-11-23 13:15] ferki opened #838 "bulk install is broken"
b03eecd0b18516c34b141d406aa1239149f66151 forces `pkg` to be called one-by-one on all passed packages in an arrayref, which makes the package manager to be called as many times as many elements are in the list.

This is basically avoiding `bulk_install` to be called, and adds considerable amount of overhead, slowing down the whole process.

It would be nice if we could do the per-package reporting

[2015-11-23 18:52] krimdomu commented on #838
this was by intent, because the bulk install breaks the `on_change` hook which is more important than speed, imho (for example if a service like httpd was updated, you need to restart it)

maybe we can refactor the package classes to return what packges they installed/updated and depending on this information run the `on_change` hook and do the reporting.

[2015-11-23 19:16] ferki commented on #838
Thanks for the explanation!

[2015-11-25 04:15] kablamo commented on #761
Thanks for finding these.  The exit code stuff has never worked with `-e`.  Not sure whats up with the SSH connection thing yet.  Am working on a pr to fix both of these.

[2015-11-27 02:57] kablamo commented on #400
Status update on the things people want solved in this issue:

 - [ ] **Configurable exit_status** - If you don't want rex to exit with exit codes, then don't use the 'exit_status' feature?  I guess I don't understand this one.

 - [x] **Per-task output of exit status, to make post-mortem possible** - This is merged into master in #697 .  See the pr description for details.

 - [x] **No -1's witho

[2015-11-27 09:21] ferki opened #841 "Success is reported when running non-existing task"
[code]

Previous behaviour was:
[code]

[2015-11-30 08:08] kablamo opened #844 "host first vs task first task chaining"
Currently rex only supports task first task chaining.  I want to add host first task chaining.  A goal of this issue is to explain what this change will look like to the user.   The other goal of this issue is to create a detailed plan to get there so I can make the changes in small incremental prs instead of one gigantic pr.

# User interface

**Command line options**
Users will use the `-eo` opt

[2015-12-02 11:11] ferki commented on #400
Note on `exit_status`: exiting with proper exit code was not a feature in the beginning. Then `exit_status` feature flag appeared in 0.39.0 to be an opt-in for users who needed this feature. Then it was enabled by default in 0.50.0.

I guess if we can make sure it really works realiably (~ we have tests for it), we can just drop the feature flag, or just leave it as is (so we don't break those peo

[2015-12-03 14:10] ferki opened #850 "Unrecognized OS: OpenBSD 5.8"
According to the tweet of Neil McGuigan (‏@vancouverdata )

Currently Rex::User::Linux is the fallback user management module, so it looks like `lsb_release -s -i` and/or `uname -s` returns something weird on OpenBSD 5.8, which is unrecognized by `is_openbsd()` (i.e. not matching `qr{OpenBSD}i`).

[2015-12-03 18:58] neilmcguigan commented on #850
Note: I am running OpenBSD 5.8 (i386) in VirtualBox 4.3.26

# lsb_release -s -i
(ksh: lsb_release: not found)

# uname -s
OpenBSD

I ran dump_system_information in Rex and got the following (some info elided):

$kernelversion = 'GENERIC#1066'
$kernelrelease = '5.8'
$operatingsystemrelease = '5.8'
$architecture = 'i386'
$kernel = 'OpenBSD'
$kernelname = 'OpenBSD'

Ran  `account "foo", home => "/hom

[2015-12-04 04:39] kablamo commented on #400
Thanks @ferki .  Are you just reminding me?  Or is this in response to a mistake I made somewhere?  Or is this a wishlist item?

A planned deprecation is a good idea.  I would love to go through and try to deprecate a bunch of stuff one of these days, but I don't want to get distracted from my current goal atm.

[2015-12-04 04:53] kablamo commented on #841
I'm going to work on this after #778  is merged because they touch the same code.

[2015-12-04 05:59] kablamo opened #851 "Summary shows subtasks (via do_task) unless they are in a transaction"
`run_task()` subtasks are not a problem.  Its just `do_task()`.  The easy solution is to add a flag to the task object.  A better solution is to build a task stack trace type mechanism, but I think thats a big project so I'm not going to go that route.

[2015-12-05 17:03] ferki commented on #400
@kablamo: I just reflected on your

point from above - no mistakes were made :)

As far as I understand the situation, returning proper exit codes were already done and working at some point in time (since the feature flag for this behaviour has been enabled by default), but unfortunately it seem like since then it got broken (maybe only in some cases?).

My wishlist item is to let's prevent that

[2015-12-06 07:14] kablamo commented on #400
I would like to do that too.  Its a hard problem though because there isn't an easy way to trap the `CORE::exit()` calls in `Rex::CLI`.  I would normally use `Test::Exit` for that -- it can trap calls to `exit()` but it doesn't work with `CORE::exit()`.

My personal preference is to someday deprecate and remove `Rex::Commands::exit()`.  People shouldn't be calling `exit()` inside the Rexfile anywa

[2015-12-06 12:31] ferki commented on #841
#778 is merged now.

I think we should set the exit code to non-zero (to cross of one entry from the list on #400), and we can put back the `$taskname not found` error message (to (partially?) solve #729).

[2015-12-06 12:35] #761 closed

[2015-12-06 12:42] ferki commented on #761
@eskaaren: I believe the isse originally reported here (`SSH connection has failed and the task is not run`) has been solved on #697, and the exit codes for one-liners (= using `-e` on the CLI) has been resolved on #840. So to reduce the number of open issues/PRs around this topic, I chose to close this one. Feel free to reopen if you think something has been missed.

There are two remaining small

[2015-12-06 12:52] ferki commented on #400
@kablamo: I propose opening a new issue for tracking the "tests for exit code", so here we can focus on resolving the last remaining elements from your list above.

- I think `Configurable exit_status` can be crossed off for now (and maybe we can create another tracking issue about things that should be deprecated, and add it there)
- `When Rex exits from no Rexfile the exit code is 0` can now be

[2015-12-07 10:04] kablamo commented on #841
I think it should exit if it finds a bad task name.  Thats not what it did before though.

[2015-12-07 13:37] ferki commented on #841
Well, I'm pretty sure since 0.54.0 rex behaved like:
[code]
because I added it on bc8273ada9972ea5438c0d560ed7a42ad832e1a3 :)

[2015-12-07 21:45] alx542 opened #853 "Dead link for contributing to Rex in git readme."
Hi, there is a dead link in the git readme documentation under "Contributing"

"Contributing

....

For more details, see the Help [LINK: (R)?ex] page on the website.

The link points to:

http://www.rexify.org/contribute/index.html

which is dead.

[2015-12-08 17:22] ferki commented on #828
Fixed on #847.

[2015-12-08 17:22] #828 closed

[2015-12-09 10:44] ferki commented on #841
Fixed on #854

[2015-12-09 10:44] #841 closed

[2015-12-13 23:58] #825 closed

[2015-12-14 00:20] #853 closed

[2015-12-14 00:21] ferki commented on #853
@alx542: thanks for the report, the link is now fixed (along with a couple of others)!

[2015-12-15 05:31] shaitand opened #857 "case group"
For some reason case group seems to be broken.

This gives:

task "get_a", "localhost", sub {
        my $cmd = case group, {
                app => ["service siloA_tc status"],
                web => ["service siloA_web status"],
                db => ['echo "Not Applicable to DB"'],
        };

$ rex -E prod -G app get_a
[2015-12-14 23:24:20] INFO - Running task get_a on XXXXXXX
[2015-12-14 23:2

[2015-12-15 07:49] krimdomu commented on #857
hi @shaitand ,
i don't think that this code ever worked as expected. Because the `group` function never returned the current group the was set with -G.

You can get the cli parameter with:

[code]

And then use it in your `case` statement:

[code]

[2015-12-15 15:11] krimdomu opened #858 "Net::OpenSSH asks for password when key auth wasn't successful"
If we use `key_auth` in a Rexfile and the authentication failed, the underlying ssh process ask for a password and blocks the execution.

We need to add the following ssh option to prevent this:

[code]

[2015-12-15 18:01] krimdomu opened #859 "Sudo should check if requiretty is set and print an error message (and die)"
When sudo is used to execute commands but `requiretty` is set for the user rex doesn't print an error. So we need to check (at the same place where we test for a perl installation) if `requiretty` is set and then notify the user about this.

[2015-12-15 18:04] krimdomu opened #860 "Rex::Args->get() is missing"
Due to some refactoring the `Rex::Args->get` method was removed. We need to readd it and return the current parameters of a task (or, in compatibility mode, return all parameters)

[2015-12-16 02:49] kablamo commented on #860
Why is this needed?  I don't see it used anywhere.

[2015-12-16 02:52] kablamo commented on #859
Why can't the user have a tty when sudo is used?

[2015-12-16 03:21] kablamo opened #861 "We should write down our deprecation policy"
We already have a deprecation policy.  But I would like to write it down.  Its not clear to me what it is and where the exact boundaries are.  And if its not clear to me, then its probably not clear to users either.  It should be pretty short.  I can probably just add a paragraph to the README.  Also if we are going to put such an insane amount of effort into backwards compatibility we should adve

[2015-12-16 03:24] kablamo opened #862 "the README should be generated from Rex.pm"
The pod for Rex.pm is the thing people see first on metacpan.org.  It is the starting point for perl people.  the README.md is the thing people see first on github.  It is also a starting point for github people.  It would make sense if those starting points were the same and presented the same information.

[2015-12-16 07:38] krimdomu commented on #859
The problem is the sudo option `requiretty`.
By default Net::OpenSSH (and Net::SSH2) doesn't spawn a tty. The version before 0.57 (or 1.0 i don't remember the correct version) uses Net::SSH2 as default and also spawn a tty as default. Newer versions using Net::OpenSSH as default and the documentation of Net::OpenSSH says that their might be problems with spawning a tty (and indeed there are proble

[2015-12-16 07:42] krimdomu commented on #860
This is true, but this is used, because there where no method to get the parameters inside a hook (for example `before`). So people who are needing the parameters their use this method.

[2015-12-16 11:49] kablamo commented on #860
Ok makes sense.  I'll add it back.  I should also document the method and module since it something we are supporting.

[2015-12-16 12:17] krimdomu commented on #860
This would be really cool

[2015-12-18 21:26] #470 closed

[2015-12-18 21:47] krimdomu opened #865 "timeout option doesn't work reliably"
As seen in this pr #843 the timeout option seems not to work for every connection method or on every os. We need to put some time into it to find the problem.

[2015-12-18 21:54] krimdomu commented on #794
@mbroadhead the patch to run the after hook even when the connection failed is now merged. So i'm closing this issue.

[2015-12-18 21:54] #794 closed

[2015-12-18 22:54] ferki opened #867 "broken tests for arch linux"
Some of the VM tests in jenkins are failing on arch linux:
[code]

I think
- [x] some of them are related to known issues, like #836 and #837 (firewall and git)
- [x] package installation is weird for vim (wrong package name?)
- [x] cron tests fail (missing cron package in the VM?)

[2015-12-19 12:08] #860 closed

[2015-12-19 23:13] krimdomu commented on #836
fixed with #870

[2015-12-19 23:13] #836 closed

[2015-12-20 11:07] krimdomu opened #872 "add possibility for run command to pass parameters as array"
If someone want to execute a command with multiple parameters that contains spaces, quotes and other things it is always complicated for the user to find the right quoting.

So it would be good to have a possibility to pass the arguments as an array to the run command and let rex do the right quoting.

For example something like this:

[code]

[2015-12-20 11:09] #837 closed

[2015-12-20 14:41] krimdomu opened #875 "broken test tests.d/file_template_tests"

[2015-12-20 18:01] #875 closed

[2015-12-20 18:02] krimdomu opened #877 "broken report test on ubuntu 12.04"

[2015-12-21 19:38] #877 closed

[2015-12-21 19:39] krimdomu opened #880 "try to find out why sudo tests on centos systems are so much slower"
The sudo tests on build.rexify.org for CentOS / Fedora systems are slower (2x) than on debian/ubuntu systems.

We need to figure out if this is a problem with rex or a problem with the system.

[2015-12-23 20:55] krimdomu opened #883 "FreeBSD 9.3 tests are failing"
https://build.rexify.org/view/VM%20Tests/view/Net-OpenSSH/view/root%20connect/job/Test%20-%20FreeBSD%209.3%20%28amd64%29/25/console

[2015-12-23 21:35] krimdomu opened #884 "FreeBSD 10.2 tests doesn't start"
The contrib/prepare.rex file is executed but stops/freeze after login.

[2015-12-23 21:46] krimdomu opened #885 "set connection => "SSH" doesn't work"
It doesn't switch to Net::SSH2 it still uses Net::OpenSSH

[2015-12-23 22:00] krimdomu commented on #885
at least in this test it doesn't switch: https://build.rexify.org/view/VM%20Tests/view/Net-SSH2/job/Test%20-%20SSH%20-%20FreeBSD%2010.2%20%28amd64%29/1/console

on my local test it switched, so it might be a problem somehwere in the rex-build repo

[2015-12-23 22:01] #885 closed

[2015-12-23 22:01] krimdomu commented on #885
okay, was a problem in rex-build repo

[2015-12-23 22:05] krimdomu commented on #884
this is a problem with Net::OpenSSH, with Net::SSH2 prepare.rex is running.

[2015-12-28 09:57] ipcjk commented on #859
It often prints "perl is not available" which makes you search and dig around things till you notice the obvious requiretty.

[2015-12-29 18:55] krimdomu opened #887 "regression with #820"
quote ferki: (see #820)

Ha! I found a regression caused by this commit: for some reason it breaks the Rex::Test features, more specifically rex can't create test VMs anymore with Entity: line 2: parser error : Premature end of data in tag domain line 1 or similar errors.

[2015-12-29 18:55] #884 closed

[2015-12-29 18:56] krimdomu commented on #883
these is also true for 10.2

[2015-12-30 12:47] #883 closed

[2016-01-01 00:06] krimdomu opened #890 "shell detection on freebsd with sudo prints warning"
https://build.rexify.org/view/VM%20Tests/view/Net-OpenSSH/view/sudo%20connect/job/Test%20-%20Sudo%20-%20FreeBSD%2010.2%20%28amd64%29/3/console

[2016-01-03 14:06] krimdomu opened #896 "freebsd - escaping of commands in sudo mode"
https://build.rexify.org/view/VM%20Tests/view/Net-OpenSSH/view/sudo%20connect/job/Test%20-%20Sudo%20-%20FreeBSD%2010.2%20%28amd64%29/lastCompletedBuild/testReport/

[2016-01-03 14:07] krimdomu opened #897 "freebsd - proper error code of "command not found" in sudo mode"
https://build.rexify.org/view/VM%20Tests/view/Net-OpenSSH/view/sudo%20connect/job/Test%20-%20Sudo%20-%20FreeBSD%2010.2%20%28amd64%29/lastCompletedBuild/testReport/

[2016-01-03 14:08] krimdomu opened #898 "openwrt - many failures in test"
https://build.rexify.org/job/Test%20-%20OpenWrt%2014.07%20%28i386%29/26/console

[2016-01-03 14:08] #890 closed

[2016-01-03 18:53] krimdomu commented on #887
@ferki
this works for me (tested on windows locally with virtual box, on windows remote on a linux system with kvm and on a linux system remote on a linux system with kvm)

could you please verify this?

[2016-01-03 21:54] #896 closed

[2016-01-03 21:54] #897 closed

[2016-01-04 02:41] ferki commented on #887
Sure, I'll test it again.

[2016-01-04 02:56] ferki opened #901 "summary tests are broken for 1.4rc"
Looks like tasks are returning unexpected exit codes, e.g. `ls asdfxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx` returns an exit code of `2` on the CLI, and the tests are expecting the same, but the task actually returns 1.

[2016-01-05 06:20] sunull opened #903 "cloud_network_list on OpenStack error (v1.3.3)"
when use functions cloud_network_list on OpenStack, output these:
[code]

[2016-01-07 06:49] ferki commented on #903
@sunull: thanks for the report! At first glance it looks like the `list_networks` method is still unimplemented in the various `Rex::Cloud` classes. I think it should at least print that to the output.

[2016-01-08 13:59] ki0 commented on #790
Hi @krimdomu

Here you have the code:

[code]

Cheers

[2016-01-08 14:37] ki0 opened #904 "Sync command: `exclude` doesnt handle directories"
Hi,
I found one problem with this class, the exclude option only works with files:
[code]
Maybe a solution could be something like this:
[code]
I dont test this solution maybe it doesnt work, this is only a suggestion.
Cheers.

[2016-01-10 11:14] roa opened #905 "creating bios_grub partitions with clearpart is broken"
since commit fb1103173a028c354033669473502412dc1d07e3
it is not possible to create bios grub partitions with
[code]

as it causes this error

[code]

[2016-01-12 18:03] mbroadhead commented on #775
Another downside to space delimited arguments is that if you need to create a wrapper script for rex, and you end up calling "rex $@", you lose the quotes so it thinks hosts are tasks.
For example, if you use [Perlbrew in Shell Scripts](http://perlbrew.pl/Perlbrew-In-Shell-Scripts.html) and you pass along your wrapper script arguments, rex gets confused:
[code]

[code]

In short, it would be much

[2016-01-21 13:16] ferki commented on #887
Unfortunately I still get these errors:
[code]

[2016-01-21 15:54] ferki commented on #887
I think that's because `Rex::Interface::Exec::Local` was left unmodified (i.e. not using `sysread`).

[2016-01-23 12:20] ferki commented on #887
Fixed on #908.

[2016-01-23 12:20] #887 closed

[2016-01-23 12:23] ferki commented on #756
We believe this issue was partially fixed on #820. Which unfortunately introduced some regressions (#887), which were addressed on #888 and #908. All of this work is available in the `1.4rc` branch as of now, and will be included in the next release.

Based on the above, I'm going to close this issus, but feel free to reopen if needed.

[2016-01-23 12:23] #756 closed

[2016-01-23 14:58] ferki commented on #867
Most arch test failures has been addressed in RexOps/rex-build repo. One fix is coming up via PR #909.

[2016-01-23 15:16] #867 closed

[2016-01-23 18:47] ferki commented on #898
Some tests were fixed in RexOps/rex-build repo. Now it passes for me locally both with Net::OpenSSH and Net::SSH2. However, in Jenkins, it is only passing with Net::OpenSSH, so I guess there are some test-related issue is going on.

All in all, I think we can close this, and go ahead with releasing 1.4.0(RC), and track the testing issue elsewhere.

If no objections, I'm going to close it and go ah

[2016-01-23 22:26] krimdomu commented on #898
+1

[2016-01-24 11:23] ferki commented on #905
@roa: this is now fixed in 1.4rc branch, and will be included in the next release. Thanks for your report!

[2016-01-24 11:23] #905 closed

[2016-01-24 11:24] #898 closed

[2016-01-24 13:17] ferki opened #910 "debug outpug disappeared for feature flags and task loading"
`rex -d` used to print out debug messages upon enabling fautre flags, and loading tasks. This seems to have disappeared between current `master` (6cf790154127c102dd6fc7f254fd3c5fce4bfcdd) and current `1.4rc` (7c1554663a24221147bf74a29d66569a11d0b250) branches.

It's not a blocker for 1.4rc release.

[2016-01-24 13:18] ferki opened #911 "test for summary error messages"
currently we just drop error messages during testing, but since it's a feature, would be nice to test for them instead

[2016-01-25 09:43] ferki opened #912 "hide template debug logs a bit more"
The normal debug output contains every line of template processing, which I find extremely verbose for the usual debugging use cases. I think they can be moved to be only showed when `-dd` or `-ddd` is requested.

[2016-01-25 10:27] krimdomu commented on #912
+1

also i want to refactor the whole debugging.

The goal is, to have the possibility to have debug filters (for predefined categories).
For example, when you only want to debug authentication process you can do something like this:
[code]

And for template debugging it would be
[code]

[2016-01-25 13:14] ferki commented on #912
:+1:
I think I'll just push template debugging behind `-dd` until then.

[2016-01-25 21:47] abeverley opened #913 "update_system on Debian ignores errors during apt-get update"
This is not strictly speaking a bug with Rex, but it is something that I consider needs fixing by Rex. I am experiencing the problem here: http://unix.stackexchange.com/questions/175146/apt-get-update-exit-status

When ```apt-get update``` runs, it only warns on problems such as unable to get an updated index of a repo. This is a problem as you can think that your system is updating correctly, whe

[2016-01-26 15:31] krimdomu commented on #913
@abeverley i think this is a good idea.

@ferki what do you think?

[2016-01-27 09:53] krimdomu opened #916 "rexify --bundle doesn't work on debian wheezy"
The problem is, Net::OpenSSH and Net::SFTP::Foreign are tool old and doesn't have the files we list in `rexify` data section.

[2016-01-27 10:04] bechtoldt commented on #916
please notice that on debian wheezy the tool ``readelf`` is available as ``eu-readelf``:

https://packages.debian.org/wheezy/amd64/elfutils/filelist

[2016-01-27 10:24] bechtoldt commented on #916
PS: https://github.com/bechtoldt/rex-docker/blob/debian-wheezy-latest/Dockerfile contains all steps to get ``rexify --bundle`` working on debian:wheezy.

[2016-01-29 07:23] ferki commented on #901
According to CPAN testers results, it's still failing for BSD/darwin systems. I believe rex is returning the correct exit code, but the exit code of the failing commands in the test are having different exit codes compared to linux systems.

[2016-01-29 21:30] krimdomu commented on #901
yes, this is os dependant. maybe it is better to test if return code != 0

[2016-02-01 15:00] ferki opened #917 ""register_in" is not exported by the Rex::Resource::firewall module"
According to this CPAN testers report: http://www.cpantesters.org/cpan/report/a3c7832c-c5ce-11e5-bba3-d6fd2dc07716
And this: http://www.cpantesters.org/cpan/report/f05cb7ac-c862-11e5-9aa9-0c4caef69d38

perl-5.8.9 seems like the common point somehow

[2016-02-01 15:14] ferki opened #918 "update sudo documentation"
some examples to use: https://gist.github.com/ferki/5f3b8592ed0e53177214

[2016-02-03 17:06] nosmircss opened #919 "before_task_start and after_task_finished does not seem to executing."
I am having problems with before_task_start with 1.3.3_01. below is an example that used to work with 1.3.3.

[code]

[2016-02-03 22:19] shattered opened #920 "Rex::Shared::Var is nearly undocumented"
There's a brief mention in http://rexify.org/docs/release_notes/0.29.html and some sample code in https://groups.google.com/d/msg/rex-users/_z0d7P0N31k/2jrf_hOPSncJ

[2016-02-04 11:24] ferki commented on #920
Yeah, you're right, we should add proper POD and include it on the website too. Thanks!

[2016-02-04 19:13] shattered opened #921 "Rex::Shared::Var::Array does not implement SHIFT"
I hit that one while trying to transform shared array into a hash (because of a different issue that prevents storing hash in shared hash).

[2016-02-04 20:13] krimdomu opened #922 "Rexfile loading in 5.8.x doesn't work"
5.8 can't handle scalar references as file handle

[2016-02-05 22:48] #917 closed

[2016-02-05 23:34] #922 closed

[2016-02-05 23:53] #901 closed

[2016-02-06 08:23] #910 closed

[2016-02-06 09:15] #919 closed

[2016-02-06 09:15] krimdomu commented on #919
Hi @nosmircss

thanks for this report. This should be fixed with the next rc.

[2016-02-07 10:10] #918 closed

[2016-02-07 10:59] ferki commented on #920
@shattered: so there are now some initial documentation for `Rex::Shared::Var` in the `1.4rc` branch, will be released in the next RC (soon™). Thanks for the report.

[2016-02-07 10:59] #920 closed

[2016-02-08 20:06] shattered opened #932 "Servers that differ only in auth info should be considered unique"
At the moment, code introduced in https://github.com/RexOps/Rex/commit/4358803347799b29453bb2533522924c2ac300a5 eliminates duplicate server names from a group -- this breaks the scenario when connection needs to be made to one server under multiple user accounts.

[2016-02-08 20:11] shattered opened #933 "'task' and 'connection' objects are poorly documented"
'connection' is at least mentioned in the API doc (http://rexify.org/docs/api/1.3/rex/commands.pm.html#connection) but 'task' is not.

Plus, it appears that task->user is never set, and task->name is not updated when the task has been launched via needs() -- in this case it still reports dependee's name.

[2016-02-09 08:36] ferki commented on #932
Can you give us an example, please? There might be a more efficient way to do something like this than multiplicating server entries.

[2016-02-09 08:51] ferki commented on #933
Rex::Task is documented here: http://rexify.org/docs/api/1.3/rex/task.pm.html (updated on 528017a452cbf98af31e6c9e9ab4cf8acea66458 for `1.4rc` branch). Maybe that was what you were looking for?

You can take a look at the implementation of connection-releated stuff under Rex::Interface::Connection namespace, but you're right, they are not yet documented. Can you maybe help with adding the bits you

[2016-02-09 08:53] ferki commented on #921
Can you maybe share some more details on this too? Feel free to open a separate issue, if you see fit.

[2016-02-09 11:04] krimdomu commented on #932
@ferki
I think the problem iare the `uniq` calls. Because `Rex::Group::Entry::Server` in string context (which uniq enforces) only displays the servername. So the same server with different auth just get dropped.

[2016-02-09 11:23] ferki commented on #932
@krimdomu: I understand that part, but in my opinion the server (=the remote) is the very same machine, so IMHO there should be a way without listing the same server twice (and e.g. specify the auth info somewhere else). We _can_ introduce a feature flag for that behaviour (like `allow_duplicate_servers`), but I'm not yet convinced that we _should_ :)

E.g. without the `uniq` calls, a task may run

[2016-02-09 21:51] nosmircss opened #934 "Rex::Args->get fails when used in before_task_start"
When using Rex::Args->get inside a before_task_start task I get the following message

[2016-02-08 16:02:04] WARN - Error running task/batch: Can't call method "get_opts" on an undefined value at /usr/local/share/perl/5.18.2/Rex/Args.pm line 160.

When using Rex::Args->get inside a begin task it works.

this example fails
[code]

[2016-02-10 10:14] ferki opened #935 "Add CPU information to hardware gathering"
Currently it seems CPU information are missing from hardware gethering, but I think things like model name, number of cores/threads, flags, vendor id can be useful for quick querying and/or templating.

[2016-02-10 21:00] shattered commented on #933
Ah, indeed Rex::Task is the document I was thinking of.   task->user is still empty for me, I'll try to create a test case.

[2016-02-10 21:06] shattered commented on #932
Scenario is: run the same set of tasks on the same server but under different accounts, each one storing its state into shared variable.  Once all tasks are completed, "after_task_finished ALL" produces a report.

[2016-02-11 10:36] ferki opened #936 "Too verbose error message in summary"
I like the idea of mentioning a short error message in the summary about why a specific task failed on a specific host, but currently I get a long dump of the whole stack when e.g. I try to run a non-existing command, like `lss`:

[code]

I'd expect something much shorter, like:
[code]

[2016-02-11 11:01] krimdomu commented on #936
:+1:

[2016-02-11 17:17] ferki opened #937 "before_task_start hook is not executed when using Rex::Test"
Using `$t->run_task('mytask');` does not seem to trigger a hook defined as
[code]

[2016-02-13 08:37] #934 closed

[2016-02-17 08:43] jolenzy opened #942 "Update documentation for Virtualization module"
Documentation for http://www.rexify.org/docs/api/1.3/rex/commands/virtualization.pm.html could be updated to cover all the possibilities supported by this module.

For example, there's no info that it's actually possible to create a KVM guest and set a MAC address for it.

P.S. My first issue here. Rex is awesome!

[2016-02-18 09:45] LeMerP opened #943 "delete_user should not return error if user does not exist"
Trying to remove a user that does not exist returns an error.

I would suggest to ether only return a warning, or to expand the function "delete_user" with an option, i.e. "ignore_error => 1".

Otherwise you cannot run a task more than once on a system.

[2016-02-21 10:22] ferki commented on #936
`Rex::Report::Base::report_resource_failed()` seems to be only called from `Rex::Task::run()`, when the execution fails (currently at https://github.com/RexOps/Rex/blob/1.4rc/lib/Rex/Task.pm#L877-L878).

`report_resource_failed()` calls `confess` if we're not inside a resource, meaning we call `die` maybe a bit too early, preventing the rest of the code in `Rex::Task::run()` can not be executed to

[2016-02-21 12:11] ferki commented on #935
Maybe [Sys::CPU](https://metacpan.org/pod/Sys::CPU) can help us already with this one - though we might need to help with maintaining it.

[2016-02-22 21:10] #936 closed

[2016-02-23 06:09] krimdomu commented on #936
The way to go forward is to refactor all the functions to be resources.

[2016-02-23 08:47] ferki commented on #936
:+1:

[2016-02-23 17:25] jolenzy opened #948 "qcow2 image creation problem"
I was trying to create a KVM guest with `vm create`. No matter that I've specified `driver_type => 'qcow2'`, Rex still creates a raw image.

[2016-02-23 17:32] jolenzy opened #949 "Improve error message for missing virtualization"
While I was trying to run a task for KVM guest creation, I was getting an error message `ERROR - Virtualization Class Rex::Virtualization:: not found.`

The problem was that I've missed to set virtualization: `set virtualization => 'LibVirt'`

The above error message could be more informative and clearly point to a problem.

[2016-02-24 10:41] krimdomu opened #950 "vars.db files doesn't get cleanedup properly"

[2016-02-24 10:44] krimdomu opened #951 "Rex::Interface::Exec::OpenSSH execute_line_based_operation is no line based operation anymore"
this can be seen with the tail command. The tail command sets the readbuffer to 1 byte and this code executes the line based operation for every byte.

[2016-02-24 10:55] ferki commented on #951
I think `Rex::Interafce::Exec::Local` is affected too.

[2016-02-25 11:42] ferki commented on #951
proposed fix: #953

[2016-02-25 11:43] ferki commented on #950
fixed on #951

[2016-02-25 20:59] #950 closed

[2016-02-25 21:00] ferki commented on #951
It looks like it was already broken in 1.3.3, at least in my quick tests.

[2016-02-27 13:50] #951 closed

[2016-02-28 01:40] ferki commented on #937
hmm..I can't reproduce this anymore, maybe I mistaken it for #728

[2016-02-28 01:40] #937 closed

[2016-02-28 01:44] ferki opened #954 "read_buffer tests are bailing out on freebsd"
At least on 9.2 according to CPAN Testers. Maybe the timeout is just too short (I couldn't reproduce this though on 10.2), but let's wait for more results. If it's specific only to 9.2, I would say it's not a blocker, as upstream declared that version EOL as of 2014-12-31.

[2016-02-28 10:29] ferki commented on #954
According to my manual tests on FreeBSD 9.2, it's just slow, but not hanging.

[2016-02-28 19:37] mbroadhead commented on #794
Hey guys, thanks for the fix.

[2016-03-03 12:51] LeMerP opened #956 "extract: ensure necessary packages are installed"
Hey,

Just tried to extract an zip archives on Ubuntu Trusty.
The extract function returns no error, although the unzipping failed due to missing "unzip" package.

As a user of rex I expect that the function can extract the most common formats on any os.
So the extract function should ensure that the necessary packages are installed.

Regardless of that the function should always return an error,

[2016-03-03 13:58] ferki commented on #956
Thanks for the reporti! I completely agree that it should check if it is able to carry out the requested operation, and if not, then give a helpful error message, and fail properly (i.e. die or gracefully return). But I think it should not install any packages without explicitly requested (especially since the user might not have permissions to install packages).

[2016-03-03 20:08] krimdomu opened #957 "feature flag "tty" doesn't work with Net::OpenSSH anymore"
Somewhere in the IOReader.pm module there is a bug removing \r from the output.

This can be seen when running in debug mode. For example:

[code]

[2016-03-04 07:53] krimdomu commented on #957
459a114 removes the newline(s) at the end. but this is not enough. it doesn't remove ^M in an multiline output.

[2016-03-05 19:51] krimdomu opened #959 "better error messages for cloud modules"
If some required perl modules are missing, or if there are compilation failures in a cloud module we get a strange error message without a meaning (#790).

We need to add a better error message there.

[2016-03-05 19:52] ferki commented on #790
This should be resolved by depending on [AWS::Signature4](https://metacpan.org/pod/AWS::Signature4) (ref #737)

[2016-03-05 19:52] #790 closed

[2016-03-05 19:54] krimdomu commented on #790
Oh i think in 1.3.3 we didn't used AWS::Signature4. But maybe XML::Simple or another module used there was missing.

[2016-03-06 09:39] ferki commented on #957
Fixed on #958.

[2016-03-06 09:39] #957 closed

[2016-03-06 09:40] ferki commented on #954
Fixed on #955.

[2016-03-06 09:40] #954 closed

[2016-03-06 16:24] ferki opened #960 "Add Win32::Console::ANSI as a windows-only (optional?) dependency"
Current rex code can use it if present, but Makefile does not specify it as a windows-only optional dependency.

[2016-03-06 21:22] abeverley commented on #728
I'm also interested in this. I tend to group together lots of separate tasks into one "master" task. I run the master task, and I expect that any dependencies such as ```before_task_start``` are also run, but they are not. Should I be using a different approach?

[2016-03-07 16:01] jolenzy opened #963 "Improve deleting of KVM guests"
At the moment, `vm delete => $vm_name` deletes a KVM guest without removing the storage image.
It would be useful to have an option to remove a machine with removing its image too.

[2016-03-08 08:29] ferki opened #965 "task.t fails on windows with Net::OpenSSH"
Net::OpenSSH can be installed on Windows without forcing it, and if present, it leads to failures in `t/task.t`:
- http://www.cpantesters.org/cpan/report/e97c7360-6c27-1014-a6ef-632b764d66f0
- http://www.cpantesters.org/cpan/report/eb206489-6c27-1014-baf4-db24764d66f0

/cc: reported by @aero via IRC and CPAN Testers (thanks!)

[2016-03-08 13:15] ferki opened #967 "systemctl sometimes outputs to pager and hangs"
Based on [systemctl man page](https://www.freedesktop.org/software/systemd/man/systemctl.html), it should be safe to always add `--no-pager` to `systemctl` calls from rex.

[2016-03-09 10:49] mestia opened #969 "A couple of typos"
https://gist.githubusercontent.com/mestia/9076ec75567cd774cf4b/raw/12ae1432cd3ccefa2a1cfed4c5ddb64e68a6089c/spelling.patch

Thanks!

[2016-03-09 14:06] patricklauer opened #970 "Unhelpful error message when task name is misspelled"
when running `rex Test:run --test=t/foo.t`, when foo.t has a misspelled task:
[code]
This is very confusing for the user as it looks like the test VM or the test failed, when it's just a naming mistake.

[2016-03-09 14:45] krimdomu opened #971 "Dist::Zilla creates some wrong dependencies"
For example it puts Parallel::ForkManager, Xml::LibXML and String::Escape into the "test" section.

[2016-03-09 15:10] krimdomu opened #972 "Refactor Comands/Cron.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:10] krimdomu opened #973 "Refactor Comands/File.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:11] krimdomu opened #974 "Refactor Comands/Fs.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:11] krimdomu opened #975 "Refactor Comands/Host.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:11] krimdomu opened #976 "Refactor Comands/Kernel.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:12] krimdomu opened #977 "Refactor Comands/LVM.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:12] krimdomu opened #978 "Refactor Comands/Mkfs.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:13] krimdomu opened #979 "Refactor Comands/Partition.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:13] krimdomu opened #980 "Refactor Comands/Pkg.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:13] krimdomu opened #981 "Refactor Comands/PkgConf.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:14] krimdomu opened #982 "Refactor Comands/Run.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:14] krimdomu opened #983 "Refactor Comands/Service.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:14] krimdomu opened #984 "Refactor Comands/Sysctl.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:14] krimdomu opened #985 "Refactor Comands/User.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:15] krimdomu opened #986 "Refactor Comands/Virtualization.pm to use the new resource structure"
We need to refactor the Command/*.pm modules to use the new resource structure. This is needed to have better reporting, common options (like ensure, on_change) and more things.

[2016-03-09 15:17] #967 closed

[2016-03-09 15:25] krimdomu opened #987 "Only create say() function if it is not already present"
Currently the say() function is created/exported in the Rex::Commands module We need to rewrite this, that it is using the internal perl say function if present and only creates an own function if it is not present.

[2016-03-09 16:10] ben-stein opened #988 "CMDB is only loading variables in local Scope"
if i want to load Variables from the cmdb in a rex task then i have to define them in the task(local scope).
I cannot use them if i define them on global Scope.

an Example i have specified a default.yml and a hostname.domain.yml file in the Rexfile.
now i want to use the cmdb in let's say an uptime.task:

[code]

This will not work since it is not loading the cmdb on runtime, because it is someho

[2016-03-09 16:58] patricklauer opened #989 "Test failures are not failing"
Tests are created as:
[code]

[code]
and
[code]
I would expect test failures to not be a success ... :)

[2016-03-09 17:16] krimdomu commented on #988
Hi @ben-stein

yes this is the expected behavior. But it might not be transparent to users which are not that familiar with programming.

The problem here is, that `get cmdb "something"` returns a static variable (a hash or a scalar) which will not change if it is called in another scope.

A possible solution would be that `get cmdb` returns an object which then queries the cmdb data when someone

[2016-03-09 23:11] #988 closed

[2016-03-09 23:12] ben-stein commented on #988
that sounds about right :)

[2016-03-10 10:56] ferki opened #990 "Not all IPs retrieved by Hardware module"
If there are multiple additional IP addresses configured on a network interface, Rex only retireves one of them on top of the primary one, leasing to problems on interfaces with more than two IPs.

(Note: for backwards compatibility reasons, we need to keep the `eth0`, `eth0_1`, etc. format too, but I also propose using a proper list when there's more than one IP configured for an interface. This

[2016-03-10 14:04] ferki commented on #921
It's probably a good idea to implement `unshift` and `pop` too.

[2016-03-10 15:03] ferki commented on #989
I agree on rex needs to use a non-zero exit code in this case (this would make it easier to integrate with CI tools too).

On top of that, I'd say `Test:run` should be marked as failed task, and listed in the summary as such. The task being tested may or may not be failed, and that info is most probably useful for the task developer.

[2016-03-10 15:04] ferki commented on #987
:+1:

[2016-03-11 10:03] krimdomu opened #991 "Better error handling"
Currently we don't have a proper error handling. We throw exceptions at multiple places, some get caught others not. Also the exceptions are just strings so a proper handling of these exception can't be guaranteed.

To solve this, we need to define a proper way to throw and catch exceptions. We also need to have more detailed error messages for 2 kind of users. One for novice users who don't know

[2016-03-12 22:56] stingA0815 commented on #935
I'll have a look at this

[2016-03-15 15:56] krimdomu commented on #935
There are 2 Problems with Sys::CPU. The first is, it is a XS module, that means we can't monkey patch this module to get the system info from remote system.

The second is, i think this module is not maintained anymore (at least not on a regular basis)

[2016-03-15 15:58] krimdomu commented on #935
Currently rex uses `dmidecode` to get the cpu information. If this doesn't work we need to check if dmidecode is available on the remote system and print a warning if not.
If dmidecode is available, maybe the ouput changed.

@ferki
can you post the output of dmidecode from one of your systems?

[2016-03-15 16:06] ferki opened #992 "Print nicer error message on non-existing task with do_task"
If a non-existing task is tried to be executed with `do_task`, rex fails with a `Can't call method "parallelism" on unblessed reference` error. It could check task existence first, and if it's not there, print out a more useful message.

Originally reported by @jolenzy

[2016-03-15 19:09] ferki commented on #935
Ok, after all, I think it's only a confusion/misunderstanding about what `Rex::Hardware` and `Rex::Inventory` are for. The latter do return most of the information mentioned in the opening comment.

[2016-03-16 07:58] krimdomu commented on #935
@ferki i think both namespaces can be refactored and merged.

[2016-03-16 19:10] bissei opened #993 "Rex doesn't recognize Manjaro"
Rex should recognize Manjaro as Arch clone

[2016-03-18 15:06] stephan48 opened #994 "Rex::CMDB: Provide an API for setting/changing/deleting CMDB values"
Hi,

I would like to use Rex::CMDB as a replacement for DBM::Deep in my Serverdeployment script.
Currently it does perform various tasks like figuring out and assigning an VPN address and a unique hostname to the server.

I would love to get rid of DBM::Deep at this position. It just sucks that I can't easy manipulate the data in the backend. And I would enjoy it if I could just use a premade API

[2016-03-18 18:07] bissei opened #995 "SCM subversion need possibility to authecticate with RSA/DSA key + passphrase"
I would like to see possibility to authenticate to subversion with RSA/DSA key + passphrase when using ssh+svn.

[2016-03-18 20:55] kentfredric commented on #872
Commentary from `#perl` is String::ShellQuote would be useful for this purpose: https://metacpan.org/pod/String::ShellQuote

And in the view of one day working on windows, Win32::ShellQuote would be useful there: https://metacpan.org/pod/Win32::ShellQuote

[2016-03-18 21:26] krimdomu commented on #872
@kentfredric many thanks for the modules, there is also a shellquoting module in Net::OpenSSH which we can use: https://metacpan.org/release/Net-OpenSSH

Lets see which of them fit best

[2016-03-18 21:29] krimdomu commented on #976
for those who are interessted how such a resource structure looks like, here is an example for the Rex::Commands::Kernel module which i'm am currently working on.

Main module file: https://github.com/krimdomu/Rex/blob/feature_976/lib/Rex/Resource/kernel.pm
Different providers (os support): https://github.com/krimdomu/Rex/tree/feature_976/lib/Rex/Resource/kernel/Provider

[2016-03-20 17:08] ferki opened #997 "Allow Rex::Test to run against remote machines"
Currently Rex::Test is strongly tied to creating a VM to connect to, execute some task(s) against the VM, and then do a series of basic checks. It would be nice to lift that restriction and make Rex::Test able to connect to any remote Rex is capable to handle (perhaps including local connections too).

This would enable users to run the very same tests against their "other" machines, like test/sta

[2016-03-22 19:07] krimdomu commented on #993
@bissei
thanks for the info.

Could you please tell me what `lsb_release -s -i` output is?
and if there is a file `/etc/arch-release`? Or is there an other /etc/... file (like /etc/manjaro-release or something else that helps detecting manjaro)

[2016-03-22 20:09] bissei commented on #993
Hi,

Here is results:
cat /etc/manjaro-release
Manjaro Linux

lsb_release -s -i
ManjaroLinux

command lsb_release -a
LSB Version:	n/a
Distributor ID:	ManjaroLinux
Description:	Manjaro Linux
Release:	15.12
Codename:	Capella

find  /etc/ -name '*-release' -print -exec cat {} \;
/etc/lsb-release
DISTRIB_ID=ManjaroLinux
DISTRIB_RELEASE=15.12
DISTRIB_CODENAME=Capella
DISTRIB_DESCRIPTION="Manjaro Linux"

[2016-03-24 18:35] #976 closed

[2016-03-24 18:35] #872 closed

[2016-03-24 19:05] #987 closed

[2016-03-25 13:02] ferki commented on #838
@krimdomu suggested via IRC that [Rex::Pkg::Base::diff_package_list](https://github.com/RexOps/Rex/blob/development/lib/Rex/Pkg/Base.pm#L187-L226) can be used to help generating the report after a bulk install is done.

[2016-03-25 14:08] ferki commented on #851
I wonder if this still needs to be solved. Currently summary output just states "All tasks were successfull on all hosts" if there was no failure, and if there were any failures, it only lists failed tasks.

In the successful case I'm not sure if it's important to know how many tasks were run exactly (as everything finished fine). And in the failed case, it can be helpful to know which subtask (`d

[2016-03-25 19:31] ferki commented on #921
@shattered: there's a PR (#1001) that adds `shift` for shared arrays if you'd like to do some early testing.

I couldn't reproduce your

If you still experience that, please open a new issue about the details. We have some basic tests for that feature at [t/shared.t#L21-L34](https://github.com/RexOps/Rex/blob/development/t/shared.t#L21-L34), but I'm happy to add more cases and fix bugs.

[2016-03-25 20:32] ferki opened #1003 "Use Moo instead of Moose"
Moose has been added as a dependency on #996. Moo was considered as a primary choice for an OO system based on previous discussions, as is is much more lightweight so it might be easier to package too (fixme). It's also compatible with Moose, so I guess the conversion is easy.

[2016-03-25 21:06] krimdomu commented on #1003
Hi ferki,

first i used Moo for the Resources but then i saw that Moo doesn't have an `override` method. The author sais that one should use `around` to do this, but i don't like this.

A second thing is that with Moo we don't have type checking included and i think integrated typechecking is a cool thing.

I already use Moose for the rex-application and other modules and i don't have any performa

[2016-03-27 07:53] ferki opened #1004 "Deduplicate hostlist after hostname expansion"
Given the `server.ini` file of:
[code]

makes `host-1` duplicated in the `nested` group:
[code]

leading to multiple execution of a task on the same host.

[2016-03-28 13:14] #969 closed

[2016-03-28 15:13] ferki opened #1006 "Avoid `do BLOCK until` in Rex::Fork::Manager::wait_for"
Currently `Rex::Fork::Manager::wait_for` uses a `do BLOCK until` construct which is problematic according to `perldoc -f do`:

Rex has a `next` inside that `do BLOCK`, so it might not do what is expected on first sight.

[2016-03-31 18:43] shattered commented on #921
I've tested PR#1001 and it works for me, thanks.

"issue that prevents storing hash in shared hash" is actually a bit different in nature, I will try to submit a test case soon.

[2016-03-31 21:31] johscheuer opened #1007 "Ubuntu packages"
Hi,

I wanted to ask if it's planned to build packages for `Vivid`,`Wily`and `Xenial`. I couldn't find any packages for these releases on https://rex.linux-files.org/ubuntu/dists

Thanks!

[2016-04-01 07:32] krimdomu commented on #1007
Hi @johscheuer
currently we're only building packages for ubuntu lts versions. Since ubuntu is shipping rex itself maybe it would be good to also build packages for non-lts versions, so that users can update their rex package.

[2016-04-01 07:50] ferki commented on #1007
I just checked and it looks like current LTS versions (`12.04` and `14.04`) of Ubuntu doesn't ship with rex (16.04 will ship rex-1.3.3). So building rex packages for LTS Ubuntu versions still would make sense.

On top of that, I think it's a good idea to try to build packages for any Ubuntu versions that is still supported by their upstream (=Canonical). This would mean `15.10 Wily` as of now, but

[2016-04-01 11:12] titanofold opened #1008 "IPv6 Address with Number-only Final Hextet Interpretted As Port"
I had a list of IPv6 address given to the group function.

    group myservers => 'fe80::a00:27ff:feda:f9d', 'fe80::a00:27ff:fef7:fd20', 'fe80::a00:27ff:fe36:9377';

rex connected just fine  to :fd20 and :f9d. But, instead of attempting to connect to :9377, it was trying to connect to :fe36 on port 9377. Putting brackets in solved the problem.

    group myservers => 'fe80::a00:27ff:feda:f9d', 'fe

[2016-04-01 13:54] krimdomu opened #1009 "issue that prevents storing hash in shared hash"
Currently it is not possible to store nested hashs (and i think also arrays) inside a shared variable.

see: #921

[2016-04-01 13:56] krimdomu commented on #921
@shattered
i also had the problem with storing a nested data structure in a shared variable just today. So i just opened an issue for that.

[2016-04-07 11:10] ferki opened #1016 "Check return values inside i_run"
ref https://github.com/RexOps/Rex/pull/998#issuecomment-206804456

[2016-04-11 09:55] labbeduddel opened #1018 "error when using batch tasks"
Hi,

it seems theres an issue in version 1.4.0.
While defining batch tasks at the beginning of an Rexfile the following error occurs:

[2016-04-11 11:32:00] ERROR - 	ERROR: no task: install at /opt/local/lib/perl5/site_perl/5.22/Rex/Batch.pm line 27, <> line 1.
[2016-04-11 11:32:00] ERROR - 	Compilation failed in require at /opt/local/lib/perl5/site_perl/5.22/Rex/CLI.pm line 747, <> line 1.

Worka

[2016-04-14 20:58] ferki commented on #1018
Hi @labbeduddel, thanks for the report! This is known and expected as batch currently only can refrence tasks that are already defined (as far as I remember this was always the case). But I agree it would totally be useful to be able use `batch` anywhere (e.g. by allowing "late-registering" tasks for it or similar). Let me slightly change the title of the issue to reflect that.

[2016-04-15 22:30] #921 closed

[2016-04-15 23:20] #970 closed

[2016-04-15 23:45] #965 closed

[2016-04-18 15:53] roa opened #1022 "pkg command should trigger rebuilds if use flags changed on Gentoo"
Right now a use flag change does not trigger a rebuild if the version stays the same.
Live ebuilds should have the same problem, since they will always stay on the same version (9999).

[2016-04-20 15:08] krimdomu opened #1023 "Net::SSH2 0.59 compatibility changes"
As salva on irc mentioned, with Net::SSH2 0.59 there will be some changes. We need to find out what code parts we need to change so that Rex works with the new version and also with old ones.

- [x] passing options to connect is deprecated at Rex::Interface::Connection::SSH.pm line 79 (and timeout uses wrong unit, should be passed in milliseconds) -> fixed in `net-ssh2-compat-#1023` branch
- [x] ~

[2016-04-20 15:29] ferki commented on #1023
If it's a bigger change (i.e. slow to actually be released), we can try to temporarily state required Net::SSH2 version in dist.ini too.

[2016-04-21 07:36] salva commented on #1023
The changes in Net::SSH2 has been mostly internal: refactoring and clean up. It may introduce some minor backward incompatibilities in edge cases, but you may well be unaffected by them. Actually, my expectation is to break mostly code that has workarounds for Net::SSH2 issues now solved!

In my opinion, the first step should be to just test Rex using the development version of Net::SSH2 in your s

[2016-04-21 07:55] ferki commented on #1023
Thanks for the heads-up, @salva! I've installed Net::SSH2-0.59_10, and will test it with my usual cases. I'll report any findings, but feel free to ping us again before you'd like to release the final version.

I just found one deprecated usage on the Rex side, I'll update the opening comment with that.

[2016-04-21 08:04] salva commented on #1023
My plan now is to focus on fixing any bugs reported, keeping releasing new developer versions until it stabilizes. Then, the stable version (0.60) would be released. But I am flexible here and can synchronize with you if that makes your lives easier.

[2016-04-21 10:38] ferki commented on #1023
I've opened `net-ssh2-compat` branch to track progress. I already fixed some minor stuff there.

@salva: I think we can update everything for our upcoming release, probably before Net::SSH2-0.60 (or we can do a bugfix release soon after 0.60 if needed).

[2016-04-22 15:35] ferki commented on #1023
rkitover/net-ssh2#32 is fixed, rex behaviour with 0.59_11 is the same as with 0.58. So strictly speaking it's not a compatibility issue anymore, but the parallel draining should be fixed for Net::SSH2 too (I'll open a separate issue for that).

[2016-04-22 15:36] ferki opened #1024 "Make sure rex drains streams parallel with Net::SSH2 too"
`Rex::Helper::SSH2::net_ssh2_exec` needs updating.

[2016-04-22 15:55] ferki opened #1025 "Document `sync` command locality"
Common source of confusion is the exceptional locality of the `sync` command, as it runs `rsync` on the local machine, trying to sync between the source and the destination directories.

It would be nice to document it in more details.

ref #35

[2016-04-24 09:37] #949 closed

[2016-04-24 09:38] #948 closed

[2016-04-24 10:06] ferki commented on #728
As a workaround, I convert tasks into perl subs, and call them at the beginning of the "master task", like:
[code]

That's _close enough_ for my use cases, but I could also make `%networks` a [shared variable](http://www.rexify.org/docs/api/1.4/rex/shared/var.pm.html) across tasks if needed.

[2016-04-24 11:37] ferki commented on #400
@eskareen: I believe the `When Rex exits from no Rexfile the exit code is 0` problem is alrady solved:
[code]

Do you have any other cases related to the combination of Rexfile's existence and the exit code?

[2016-04-24 11:37] ferki commented on #400
@eskaaren

[2016-04-24 11:56] ferki commented on #400
@aowi: I believe all your original items here has already been addressed.
- Configurable exit_status: exit codes are believed to be working correctly by now, the `exit_status` feature flag can be disabled with `$Rex::WITH_EXIT_STATUS = 0`, and we don't see a reason/use case to endorse doing that with a `no_exit_status` feature flag (though it might come later anyway as we would like to add feature

[2016-04-24 14:55] #992 closed

[2016-04-24 19:29] eskaaren commented on #400
@ferki Ok, thanks. No I don't have another example.

[2016-04-24 22:24] ferki commented on #622
@kablamo: I believe this was fixed on #778. Can you confirm that?

[2016-04-25 11:33] ferki commented on #1003
Thanks for the explanation!

[2016-04-25 11:33] #1003 closed

[2016-04-25 17:56] ferki commented on #1009
@shattered @krimdomu: we are testing for the following data structure as far as shared hashes concerned:
[code]
It seems to have a nested hash, and a nested array too, and tests pass.

Can either of you provide an example that fails with shared hashes, please? I would be glad to fix it.

[2016-04-26 12:40] ferki commented on #829
This has been fixed in 1.4.0 via #839.

[2016-04-26 12:40] #829 closed

[2016-04-26 12:45] ferki commented on #823
I think #965 was a duplicate of this, but that is already resolved by #1011. Sorry for the delay. Feel free to reopen if it's still the case with current development branch.

[2016-04-26 12:45] #823 closed

[2016-04-26 12:50] ferki commented on #806
I believe this has been fixed by https://github.com/RexOps/rex-build/commit/fcb61111a529a768e2b336a0d154df8d1a78868c, and packages built after that should state `IO::String` as a dependency.

Sorry for the delay, and feel free reopen RexOps/rex-build#17 if needed.

[2016-04-26 12:50] #806 closed

[2016-04-26 13:00] ferki commented on #706
Erm, I'm a bit confused here - was it resolved fully by #697?

[2016-04-26 13:02] ferki commented on #695
@pmverma: is this still affecting you with recent versions? Can you check it again with rex-1.4.0 and a recent Net::SSH2, please?

[2016-04-28 07:50] ferki opened #1032 "eval mode (-e) does not load Rexfile anymore"
Looks like 477813c7fe600a2de012737da20dabdbad541362 skips Rexfile loading when `-e` is used on the command line. I think with `-e` the Rexfile should still be loaded with if one is present, but maybe only the warning about a missing one should be suppressed. I know a bunch of people heavily relying on the loading of Rexfile (including me) with `-e` for one-off commands.

[2016-04-28 12:27] #1032 closed

[2016-04-28 12:56] LeMerP opened #1034 "Error in Documentation "Rex::Commands::File""
Hi guys,

I found an documentation error here:
URL: http://rexify.org/docs/api/1.4/rex/commands/file.pm.html#file_read-file_name-
Section:
[code]

for my $line = ($fh->read_all)
should be:
foreach my $line ($fh->read_all)

Regards

[2016-04-28 17:35] ferki commented on #1034
@LeMerP: good catch, thanks!

[2016-04-28 17:48] #1034 closed

[2016-04-28 17:50] #671 closed

[2016-04-28 17:54] ferki commented on #671
@andrewslotin: unfortunately Net::OpenSSH still can't reliably return this exact type of failure, so I decided to just mention this case as a possible cause of authentication problem.

The error message of Rex contains the message returned by the the underlying connection layer, so once it's fixed there, Rex will automagically get the fix too.

[2016-04-28 18:00] #838 closed

[2016-04-29 08:22] ferki commented on #850
@neilmcguigan: I can't seem to reproduce this on linux with rex-1.3.2, using both Net::OpenSSH and, since you seem to run rex from windows, Net::SSH2 for connection. It can successfully detect a remote OpenBSD 5.8 system as OpenBSD, by falling back to the `uname -s` method, then it can successfully create and/or update users for me via calling `account`.

So I guess this is more likely a windows-s

[2016-04-29 08:41] ferki commented on #971
I guess that's because those are optional dependencies, but we do have tests for them, so it has no better way than put it into the test section.

Maybe we can mark optional dependencies as recommended deps, or try to use something like [Dist::Zilla::Plugin::OptionalFeature](https://metacpan.org/pod/Dist::Zilla::Plugin::OptionalFeature).

[2016-04-29 21:08] shattered commented on #1009
Given an empty %hash, this prints '42' twice:
[code]

[2016-04-29 21:11] ferki commented on #1009
@shattered: thanks for the example! I'll write a testcase and will look into it.

[2016-04-30 07:02] ferki opened #1038 "upgrade to openssl-1.0.2h"
[Announcement](https://mta.openssl.org/pipermail/openssl-announce/2016-April/000069.html)

[2016-04-30 07:03] ferki commented on #1038
Opened in wrong repo, sorry for the noise :)

[2016-04-30 07:03] #1038 closed

[2016-05-01 10:11] krimdomu opened #1039 "CLI Parameters doesn't get passed to tasks called with do_task"
The cli parameters doesn't get passed to sub-tasks that are called with do_task.

Example:

[code]

[code]

[2016-05-09 02:53] #993 closed

[2016-05-19 11:14] krimdomu opened #1044 "append_if_no_such_line should warn if the given line is undefined"
if append_if_no_such_line is called with an undefined string it just prints a warning which is not understandable.

Instead it should print out which file it wanted to edit and that the given string is undefined.

[2016-05-21 09:13] krimdomu commented on #1009
The problem is, that nested references are not tied objects. This is why it stores the first value and never updates it.

I'll move this issue into the backlog and update the documentation that currently it is not possible to store multi dimensional things in shared variables.

[2016-05-21 09:16] #1039 closed

[2016-05-21 09:19] krimdomu commented on #971
I think the dependencies are now right. So i'm closing this issue.

[2016-05-21 09:19] #971 closed

[2016-05-21 10:19] krimdomu opened #1047 "Rex/Test: Summary of tasks should display failed if some tests are failing"
Reference: #989

[2016-05-21 10:20] krimdomu commented on #989
@ferki  for the summary message i have created a new task. this can be solved independently.

[2016-05-21 11:10] #989 closed

[2016-05-21 12:28] ferki commented on #989
Great, thanks!

[2016-05-21 12:31] ferki commented on #1009
I'm currently working on covering more and more cases around `Rex::Shared::Var`. Already overhauled arrays woth more tests, hashes are up next. I'll see what I can do about this one too.

[2016-05-25 12:56] krimdomu opened #1049 "Rex::Interface::Exec::IOReader doesn't work under (local) windows."
It doesn't read anything from stdout/stderr from commands that gets executed on local windows.

To clarify, running remote commands is not affected.

[2016-05-26 12:24] krimdomu commented on #1023
This isn't done yet.
For example when i run integration test "tests/file_with_spaces.rex" i get a lot of `Use of uninitialized value in subroutine entry at /home/jan/Projekte/rex/rex/lib/Rex/Helper/File/Stat/Unix.pm line xx.`

[2016-05-26 19:14] #973 closed

[2016-05-28 05:09] stiron opened #1051 "Logger.pm - uninitialized value $host"
This is Rex version: 1.4.0

The logger class cannot put the target hostname in particular situations. I did not have enough time to deep-analyse the whole issue, but I assume the `$host` variable is empty in the time of the substitution

I see such messages:
`Use of uninitialized value $host in substitution (s///) at /home/tmolnar/.perl5/perlbrew/perls/perl-5.22.0/lib/site_perl/5.22.0/Rex/Logger.p

[2016-05-28 05:17] stiron opened #1052 "Sudo password is not being masked in the debug log"
This is Rex version: 1.4.0

When one runs Rex in debug mode then in the debug log almost all password fields are being masked out with asterisks, but the sudo password field displays the actual password in plain text. It is true with -d and -dd flags as well.

[code]

[2016-05-29 06:15] stiron commented on #1052
In Rex/Task.pm:

`647     if ( $key eq "password" ) {`

I've changed to this in my test lab:

[code]

Tested, works, pull request is on the way...

[2016-05-30 18:42] #1052 closed

[2016-06-01 17:43] shattered opened #1054 "copypasto in Server.pm?"
https://github.com/RexOps/Rex/blob/master/lib/Rex/Group/Entry/Server.pm#L215

public_key looks out of place here.

[2016-06-02 14:42] stiron commented on #1054
@krimdomu
I can create a pull request during the weekend with the fix if you think.

[2016-06-03 16:44] stiron commented on #1054
@krimdomu
It's done now.

[2016-06-03 16:45] stiron commented on #1051
@krimdomu Do you have any news regarding this one? As I see in several cases the $host cannot be resolved.

[2016-06-04 06:47] #1054 closed

[2016-06-04 18:11] krimdomu commented on #1051
@stiron sorry, i haven't looked into this yet. i think that this happens when there is no connection to any server yet.

[2016-06-04 18:16] stiron commented on #1051
@krimdomu yeah, that's the case. My quickfix was to use a statement modifier, and do not substitute the $host if it is not present. Alternatively there can be a default <local> in it as in other logs.

If you think I can send a PR with my fix above.

[2016-06-04 18:19] stiron commented on #880
At the first glance it seems to be a problem with the remote system detection. It checks again and again a lot of things on CentOS. Probably it does not fill the connection cache well, or something like that.

[2016-06-06 08:30] stiron commented on #880
$ time rex -mddG ubuntu System:update 2>log.log

real    **0m20.455s**
user    0m0.616s
sys     0m0.432s

$ time rex -mddG centos System:update 2>log2.log

real    **0m29.083s**
user    0m1.860s
sys     0m3.340s

$ grep 'sudo: exec:' log.log |wc -l
**25**
$ grep 'sudo: exec:' log2.log |wc -l
**291**

[2016-06-09 06:44] iblinder opened #1056 "Rex::Commands::Sysctl, skips setting of value equal 0"
If set key value equal 0, condition `  if ($val) {`  skips it.

I think, it is necessary to change the condition of:
`  if ($val) {`
to
`  if (defined $val) {`

[2016-06-09 08:06] ferki commented on #1056
Well spotted, thanks!

[2016-06-09 09:03] #1056 closed

[2016-06-16 21:19] abeverley commented on #913
Hi guys, I'm keen to get this sorted. What do you think of this initial patch? Once I've got comments, I'll do a proper PR: https://github.com/abeverley/Rex/commit/c390d8189e130659c5ffec282ee4649e0f4e6f8f

Thanks, Andy

[2016-06-17 08:39] krimdomu commented on #913
@abeverley i think this is a good idea. So feel free to create a pull request :+1:

[2016-06-17 14:19] fr34k8 opened #1058 "Firewall.pm module just breaks the whole setup"
Bareword "created" not allowed while "strict subs" in use at /loader/0x866c408/Rex/Commands/Firewall.pm line 121.

Bareword "removed" not allowed while "strict subs" in use at /loader/0x866c408/Rex/Commands/Firewall.pm line 121.

[2016-06-17 15:05] krimdomu commented on #1058
Hi @fr34k8 which version of rex are you using?

[2016-06-21 11:20] fr34k8 commented on #1058
1.4 emerge install

[2016-06-21 11:44] krimdomu commented on #1058
@fr34k8 since 1.4 the firewall module is included in Rex. So you don't need to use the module from rex-recipes directory. You can just remove `use Rex::Commands::Firewall;` call from your code.

[2016-06-22 08:10] abeverley commented on #913
Brilliant, thanks @krimdomu . See #1059

[2016-06-22 08:10] #913 closed

[2016-06-23 16:16] #1058 closed

[2016-06-29 15:48] rapenne-s opened #1060 "Error "deep recursion subroutine" when using md5"
Hello,

I am new to Rex, maybe I did something wrong. I am using 1.4.0.

Here is my Rexfile and I start it with "rex md5". (rex uptime works correctly)

[code]

I get a never ending output with an error in the firsts lines

[code]

[2016-06-29 18:39] krimdomu commented on #1060
Hi @rapenne-s ,

the problem is, that your task is named like a function. Please rename your task, then it should work.

HTH,
Jan

[2016-06-29 18:52] rapenne-s commented on #1060
The problem is solved when renaming the task. Isn't it possible to detect it to prevent this kind of error ?

Regards

[2016-06-29 18:56] ipcjk commented on #1060
Then our example is wrong:
https://www.rexify.org/docs/api/1.4/rex/commands/md5.pm.html

[2016-06-29 19:16] krimdomu commented on #1060
@ipcjk good catch

[2016-06-29 19:19] rapenne-s opened #1061 "Undefined subroutine &Rex::CLI::md5"
Hello,

Running the following code triggers an error

[code]

error
[code]

Maybe it's a file missing from the package ? I am running OpenBSD and I made a port for Rex, it's actually not commited.

[code]

[2016-06-29 19:45] krimdomu commented on #1061
@rapenne-s the md5 module isn't loaded by default. Because this is a module people normaly not need.

you have to load it with:

[code]

[2016-06-29 19:50] rapenne-s commented on #1061
@krimdomu my bad

Thanks for your quick answer, it solved the error.

[2016-06-29 19:50] #1061 closed

[2016-06-29 20:10] ferki commented on #1060
@rapenne-s: yes, #467 is about warn when task names conflict with rex function names.
@ipcjk: nice, thanks!

[2016-06-30 12:21] #1060 closed

[2016-06-30 12:52] rapenne-s opened #1062 "Cron management duplicates environment variables"
Since the issue #124 managing environment variable in crontab is supported, but each time I execute my task to set-up the crontab the environment variables are duplicated.

[code]

The cron itself isn't duplicated but variables are. Here is the result

[code]

[2016-07-01 10:29] ferki commented on #1060
Fixed md5 example on 0cf4ff43ab04bdce0307e36a7dd2b728e5e07730

[2016-07-01 15:00] rapenne-s commented on #1062
[code]

with this change, we check if an environment variable already exists with the name that we are adding. If it already exists with a different value, we remove it by its index (that why there is a $env_index) and we add it after, and in the case where the variable already exists with the same value we do nothing (checked with $exists).

[2016-07-01 18:26] rapenne-s commented on #1062
Commited #1063

[2016-07-01 18:26] #1062 closed

[2016-07-06 19:37] shattered commented on #933
Turns out that task->user is set _unless_ feature "0.31" or newer is enabled.   Why is that?

[2016-07-06 19:44] shattered opened #1066 "task->name for tasks launched by 'needs' reports parent task name"
How to demo with Rex 1.4:

[code]

Running 'a' will print

[2016-07-09 07:44] krimdomu commented on #933
@shattered
before 0.31 it was possible to do this:

[code]

This was removed in favour of the `auth for => "task"` function.

[2016-07-09 08:59] shattered commented on #933
Yeah, but why it's reported as empty? :)

[2016-07-14 11:10] krimdomu opened #1072 "Rex::SCM::Subversion and --trust-server-cert-failures"
_From @vikasnkumar on July 14, 2016 3:35_

Hello @krimdomu

I am using Rex to manage some Ubuntu 16.06 Xenial servers where code from  internal SVN repositories are being checked out and built.

Ubuntu Xenial has Subversion 1.9.3 and that supports the `--trust-server-cert-failures` option, which isn't supported in `Rex::SCM::Subversion::checkout` function.

That is ok. The `checkout()` function ar

[2016-07-20 19:20] ferki commented on #1049
I'm pretty sure we tested that, but it looks like it's still a bit flakey sometimes. In order to catch bugs on Windows earlier, I was thinking about using [AppVeyor](http://www.appveyor.com/) (which is pretty much like TravisCI, just on Windows) (found via [Testing with AppVeyor](http://blogs.perl.org/users/eserte/2016/04/testing-with-appveyor.html)).

[2016-07-20 19:23] ferki commented on #1051
@stiron: sounds fine, feel free to send a PR with the `<local>` variation (for consistency).

[2016-07-20 19:52] ferki opened #1075 "Possible buggy variable evaluation with rsync"
I'm just converting a [thread](https://groups.google.com/forum/#!msg/rex-users/E5OBofIqDUk/6sUDEJPZAQAJ) on the mailing list into an issue, where `path_map` is used with `sync`. When the source directory contains a `*`:

[code]

then it fails with the `PATH/dir/*` part becoming `loader/0x12fa460/PATH/dir/*`.

Without `*` and/or absolute directories it works fine:

[code]

[2016-07-21 10:29] nfetisov opened #1076 "Backquotes escaping problem when running shell commands via sudo on remote host"
For **1.4.x branch**, the backquotes escaping does not work when running command via sudo on remote host.

For example, let's run several shell commands

- directly via 'run':
[code]

- directly via 'sudo':

[code]

- on the remote host via 'run':
[code]

That's all fine, but on the remote host via 'sudo' the result is different:
[code]

On the last case - running on the remote host via sudo the b

[2016-07-21 21:18] #1023 closed

[2016-07-27 10:30] ipcjk opened #1078 "Subtile bug with RE?"
I found myself suddenly in a position, where some of my code is not executed or randomly. Tried to short it down and created the attached example task.

My output looks like this:
rex -f Rexfile.JK demo

Well I am becoming crazy in my mind today?

[2016-07-27 10:32] ipcjk commented on #1078
[Rexfile.txt](https://github.com/RexOps/Rex/files/385824/Rexfile.txt)

[2016-07-27 10:45] ipcjk commented on #1078
Sorry, close this issue. I am blind and just copied / pasted the global matching modifier. too warm today.

[2016-07-27 10:45] #1078 closed

[2016-07-27 10:47] ferki commented on #1078
No problem, and thanks for the feedback. Get some cool drinks ;)

[2016-07-29 07:27] krimdomu commented on #1076
hi @nfetisov yesterday i merged your pr #1077 so i'm going to close this ticket.

[2016-07-29 07:27] #1076 closed

[2016-08-01 16:43] ferki opened #1085 "unset sysctl values (follow-up to #1069)"
Since #1069 is merged, it is possible to save values into sysctl config with the `persistent` option, but there's no counterpart of it to remove a specific setting from sysctl config files. I also guess an `ensure => 'present'`/`ensure => 'absent'` style interface would also be more in-line with the rest of the rex interface to control this.

Until then there are two workarounds at least
1. edit t

[2016-08-25 11:19] ehuelsmann opened #1089 "Look up host parameters from ini file"
Discussing with @ferki on YAPC::EU, when a hostname is specified on the cli with -H, try to find a matching host in the group lookup file (like ini, yaml, xml).

On multiple matches: warn the user and fall back to current behaviour.

[2016-09-01 07:36] fr34k8 opened #1090 "Proxmox4 Default OpenSource | Cloud Provider"
Hey Dudes,

please bring us official Proxmox 4 Support into Rex:

Good Starting Point:

* https://github.com/mrproper/proxmox-ve-api-perl
* http://search.cpan.org/~djzort/Net-Proxmox-VE-0.006/lib/Net/Proxmox/VE.pm (has url change, in doc) => http://pve.proxmox.com/pve-docs/api-viewer/index.html

[2016-09-01 08:20] krimdomu commented on #1090
hi @fr34k8
do you know if there is a freely available demo installation somewhere where i can test the integration?

[2016-09-01 08:59] fr34k8 commented on #1090
@krimdomu just reach out for a VM with at least 4.1.
http://www.proxmox.com/de/downloads/item/proxmox-ve-4-1-iso-installer

Should be not that much effort. Basically it's Debian.

[2016-09-01 11:29] fr34k8 commented on #1090
@krimdomu you only need the API docs.
If there is anything wrong after Login let me know.

[2016-09-21 17:25] flingtoad opened #1091 "Unexpected behavior with 'sudo'"
I'm getting some unexpected behavior when I try to run a command with 'sudo' in a subroutine included in a separate file. It's possible I've just missed a changelog that explains what's going on, but I can't find it. I'm currently using (R)?ex 1.4.1

Here's a stripped down version of my Rexfile:
[code]

That seems to work fine (note the comment in subroutine call at the end).
[code]

If I try to c

[2016-09-29 20:32] ferki commented on #1091
It's just a wild guess right now after just reading through the examples, but can you try moving the `include` line between the `auth for` and `desc`?

My hunch says that the `sudo_password` is not yet set at the time when the task definition in the included module is being processed.

Even then, it does look like a bug, thanks for reporting!

[2016-09-29 21:04] flingtoad commented on #1091
Moving the 'include' line doesn't seem to change anything. Thanks for looking into this.

[2016-10-02 09:50] #1091 closed

[2016-10-02 09:51] krimdomu commented on #1091
Hi @flingtoad
thanks for this bug report. I've just fixed it in development-1.x branch.
If you want to patch your system you can just download this file: https://raw.githubusercontent.com/krimdomu/Rex/30916267e595302de58b72b04adf93b3bfe73109/lib/Rex/Task.pm and replace the `Rex/Task.pm` file from your installation.

[2016-10-03 20:08] flingtoad commented on #1091
@krimdomu @ferki Great! Thanks for the fix. Keep up the good work folks.

[2016-10-04 12:54] #1051 closed

[2016-10-04 13:28] krimdomu commented on #1085
this is already implemented with 826b8bad

[2016-10-04 13:28] #1085 closed

[2016-10-05 19:19] #904 closed

[2016-10-06 14:48] pacoesteban commented on #791
I just submitted a pull request for this: #1094

[2016-10-07 11:25] roa opened #1095 "partprobe should retry if it fails after partition creation"
Right now after partition creation, `rex` immediately calls `partprobe`. Sometime the raid controller is not able to refresh the information fast enough and it fails. If we call it later, it can refresh the partition table. We should wait and retry if it fails.

[2016-10-07 19:14] #791 closed

[2016-10-07 19:29] #1095 closed

[2016-10-07 20:59] krimdomu commented on #1008
Thanks for the report. I've just fixed this issue with #1097

[2016-10-07 20:59] #1008 closed

[2016-10-12 08:11] ferki opened #1099 "tests fail on netbsd 6.1.4 since rex-1.4.1"
According to CPANTesters, rex testsuite is failin on NetBSD 6.1.4 since at least 1.4.1 (and its prereleases, like 1.4.0_0{2,3,4}).

[Example failure report](http://www.cpantesters.org/cpan/report/cb95f2d8-9014-11e6-9919-d235d7926715)

[List of NetBSD failures with 1.4.1](http://www.cpantesters.org/distro/R/Rex.html?grade=3&perlmat=2&patches=2&oncpan=2&distmat=1&perlver=ALL&osname=netbsd&version=1.

[2016-10-12 08:14] ferki opened #1100 "tests fail on freebsd 9.1 and 9.2 since rex-1.4.1"
Since at least rex-1.4.1 tests are failing on FreeBSD 9.{1,2}. Those FreeBSD versions are already unsupported by upstream, so it might be enough to make sure tests are passing with 9.3, and mark 9.1 and 9.2 as unsupported platforms for rex.

[List of FreeBSD failures with 1.4.1](http://www.cpantesters.org/distro/R/Rex.html?grade=3&perlmat=2&patches=2&oncpan=2&distmat=1&perlver=ALL&osname=freebsd&v

[2016-10-12 08:19] ferki opened #1101 "tests fail on openbsd since 1.4.1"
Looks like something funky is going in with the exit codes (in `t/summary.t`) on OpenBSD.

[List of failed tests on openbsd with rex-1.4.1](http://www.cpantesters.org/distro/R/Rex.html?grade=3&perlmat=2&patches=2&oncpan=2&distmat=1&perlver=ALL&osname=openbsd&version=1.4.1)

[2016-10-12 15:11] ferki opened #1102 "rex needs at least version 0.25 of Data::Validate::IP"
According to its [changelog](https://metacpan.org/changes/distribution/Data-Validate-IP), `is_ip()` has only been added to Data::Validate::IP in 0.25. Since Rex doesn't require a specific version, it leads to test failures e.g. on Mac OS X, like `Error:  "is_ip" is not exported by the Data::Validate::IP module`

Example failures:
- http://www.cpantesters.org/cpan/report/dc35753c-903c-11e6-ab25-f64

[2016-10-16 15:18] ferki opened #1103 "try to create destination directory first when using sync_up"
(Ref)[https://groups.google.com/forum/#!msg/rex-users/OiX4kFEPQto/vXk5_ZzjAwAJ]

[2016-10-16 15:21] ferki opened #1104 "add telnet support"
[ref](https://groups.google.com/forum/#!msg/rex-users/W0MzuU-by4Q/-2xrUy5HBgAJ)

[2016-10-16 18:39] ferki commented on #786
Wes resolved via 9aea6f1 on #929.

[2016-10-16 18:39] #786 closed

[2016-10-16 18:56] ferki commented on #729
Looks like it was already solved on #779 / 837b9917 (squashed commit of all changes).

[2016-10-16 18:56] #729 closed

[2016-10-19 09:40] krimdomu opened #1106 "problem with rsync command and wildcards"
There is a problem reported via IRC that wildcards and the rsync command doesn't work.

I think this is a problem with the function that try to calculate the path.

Example: https://people.debian.org/~christoph/POC.txz

[2016-10-19 09:56] ferki commented on #1106
FTR: #1075 seems at least related, if not duplicate.

[2016-10-23 08:42] #1044 closed

[2016-10-24 15:59] ferki opened #1108 "include project lib before system directories"
@wiktor-b had a strange issue with a project which has `PerlRequire`s described in `meta.yml`, and those dependencies are installed via `rexify --resolve-deps` into the projects local `lib/perl` directory. Otherwise his setup relies on system perl on Gentoo.

One of those dependency modules was also installed as part of the system setup, but with an older version than needed by the project, and re

[2016-10-25 08:21] wiktor-b commented on #1108
I've managed to work around this by setting `PERLLIB=$project_dir/lib/perl/lib/perl5/x86_64-linux`, which pushed the relevant dependency near the top of the list, so this is definitely down to the load order.

[2016-10-27 22:04] battlemidget opened #1109 "Expand iptables module"
So I have these commands I want to use with Rex iptables:

[code]

The problem I run into is with the `-m <match> [match options]`.  So I would need to create an arrayref for the match arg

[code]
This is an example me and @ferki talked about but maybe there is an easier solution? Otherwise I think the stance would be if you need something more advanced then to write a custom module to handle that

[2016-10-30 19:56] #1102 closed

[2016-10-30 20:03] krimdomu commented on #1108
hi @ferki  and @wiktor-b
thanks for the report.

Before we change things with @INC we need to write tests for it, so that we can be sure that we don't break other things.

[2016-11-08 09:38] ferki commented on #1099
I think it mostly, if not fully, can be traced back to the lack of `/sbin/md5` on NetBSD systems. That may very well cause other file-related tests to fail. I'm not sure yet about the exact path though.

[2016-11-08 09:47] ferki commented on #1099
Also according to [`man md5`](http://netbsd.gw.com/cgi-bin/man-cgi?md5++NetBSD-current):

[2016-11-09 13:26] ferki commented on #1099
It's `/usr/bin/md5` and sample output is:
[code]

[2016-11-18 16:03] #400 closed

[2016-11-19 14:10] litwol opened #1113 "Support autoregistering any new modules via flexible wildcard directory configuration value."
Current approach requires explicitly declaring each module to be loaded in a Rexfile resulting in tens or hundreds of lines just to initialise Rexfile environment.

A possible improvement would be to support new configuration/command used inside Rexfile which will allow auto-discovering and auto-loading all found Rexfile(s) and modules from recursive directories as specified by this new configurat

[2016-11-29 09:20] LeMerP opened #1114 "Rex::Service::SuSE on openSUSE Leap"
Since openSUSE Leap uses systemd instead of System V as service manager, a service does not need to be symlinked under /etc/rc.d anymore.
Running '_service "foo" => "reload";_' on such machine will often produce strange output like:
[code]
I would suggest to use the _/usr/sbin/service %s_ command for operations like "start, restart, stop, reload, status" and _/usr/bin/systemctl_ to manage service

[2016-11-29 09:50] LeMerP opened #1115 "Rex::Hardware::Network::Linux brctl command"
Function _get_bridge_devices_ should check if brctl command is available on the system before calling.

[2016-11-29 13:05] LeMerP commented on #1114
This issue is related to the development-1.x branch. master branch is working as expected.

[2016-11-29 13:25] ferki commented on #1114
So I'd like to keep it open to don't accidentally release this bug with the next 1.x release :)

Thanks for reporting!

[2016-11-29 14:32] LeMerP commented on #1114
As I can see, there are systemd modules (Rex::Service::SuSE::systemd). It seems they just will not be used.

[2016-11-29 14:43] ferki commented on #1114
I think what we need to do:
- teach rex to differentiate between opensuse and opensuse leap
- and based on that, use systemd or not for service management by default

Until then [`service_provider_for`](http://www.rexify.org/docs/api/1.4/rex/commands/service.pm.html) can be used to override the automatic selection:
[code]

[2016-11-30 07:25] LeMerP opened #1116 "Support for SLES 12.2"
It is not an issue, but more a small discussion.
As I tried to run a task on a SLES 12.2 machine, I got "OS/Provider not supported". SLES 12.1, however, works like a charm.
Would it not be easier, if the first release of a major version (12) is supported by rex, to support any new minor version (12.x) "automatically"?
I do not think SuSE will put major system changes to a minor upgrade.

[2016-11-30 16:36] PaulKlumpp opened #1117 "in "after" block, a "sudo" command fails"
Just to prove the issue we have a simple "uptime"-Task which just calls "uptime" with sudo:
[code]
With this "after"-block ..
[code]

.. it gives me:

[code]

It seems, in the "after"-block "sudo" fails.

[2016-12-14 10:37] alip commented on #1022
#1119 should fix this.

[2016-12-28 12:08] ferki commented on #1116
Thanks for the debugging!

[2016-12-29 13:12] yko commented on #637
This could start with a [naive implementation](https://gist.github.com/yko/3d45bb9fd311d326423038f322f8b497) that just works.
Two problem I see with the naive approach is that `cpanm` would install in Rex's libexec path latest releases of all (only) missing dependencies.
Hence, potential breakages because of newer releases and potential breakages because of dependencies removed from the system.

I

[2016-12-30 21:34] #1108 closed

[2016-12-30 21:37] krimdomu commented on #1114
This might be a problem of the development-1.x branch solved by #1126
i have to create a suse leap test system

[2016-12-30 21:44] #1116 closed

[2016-12-30 21:44] krimdomu commented on #1116
Hi @LeMerP
thanks for the report. I've changed the detection to use the regexp.

[2016-12-31 12:58] krimdomu commented on #1114
i just tested it, and indeed it was fixed with #1126

[2016-12-31 12:58] #1114 closed

[2016-12-31 13:30] #1099 closed

[2017-01-03 20:29] shadowcat-mst commented on #726
Also for "easier to use" it's worth considering XML::Twig or the standalone Mojo::DOM58

[2017-01-13 07:11] krimdomu opened #1130 "running rex on nfs failed because of file locking"
See:
* https://groups.google.com/d/msg/rex-users/mRU4a8m3q5k/rdEo9ta3AQAJ
* https://groups.google.com/d/msg/rex-users/jFu_x1iDnuQ/WnhPzvmXAQAJ

[2017-01-31 10:08] AndySilvia opened #1132 "Error when running sudo in a task started from a task..."
Hi!

The following test task is running ok, when started directly via "rex -H host test12":

[code]

But when started via another task ("rex -H host test34"):

[code]

 I get the following error (debug output):

[code]

This was running ok, before upgrade to 1.4.0 (and is still there after going to 1.4.1)...

Am I doing something wrong?

Thanks for your support in advance!

AndySilvia

[2017-02-01 12:39] AndySilvia commented on #1132
Additional info after some more testing:

When I change the task "test34" as follows, then it's running as desired...:

[code]

As far as I understand this, I would say, that the difference between this two ways is, that in the second a new connection is started for the task "test12", right?

Did I miss some change or something that this has to be done this way?

Thanks

[2017-02-04 10:05] #1130 closed

[2017-02-04 10:15] krimdomu commented on #1132
Hi AndySilva,

hm, this is indeed a bug in the 1.4.x tree. In the current development-1.x branch this is fixed (i don't know which commit the fix is, i have to figure this out)

[2017-02-04 15:28] AndySilvia commented on #1132
Ok. Thanks for infos and your good work.

[2017-02-11 07:59] slashbeast opened #1134 "LVM.pm: stderr of run() should be suppressed"
Right now Rex capture stderr and stdout in LVM.pm and tries to parse it, which results in a bogus variables when lvm prints warnings. for example the `my @lines = run 'pvdisplay --units b --columns --separator "|" --noheadings' captures:

    WARNING: Failed to connect to lvmetad. Falling back to device scanning.
    /dev/mapper/enc_root|kagura|lvm2|a--|118954655744B|0B

Which results in setting

[2017-02-11 11:11] krimdomu commented on #1134
This is a problem with local execution of this line:
https://github.com/RexOps/Rex/blob/development-1.x/lib/Rex/Interface/Exec/Local.pm#L131

I think we should refactor this part to use https://metacpan.org/pod/Capture::Tiny

[2017-02-11 11:14] #1132 closed

[2017-04-12 10:03] ferki opened #1140 "Rex::Test via prove is broken with 1.5.0"
Using something like:
[code]
worked with 1.4.1, but it throws the following error with 1.5.0:
[code]

It might be easy to restore this, let's call "unofficial feature" (running rex tests with standard perl testing tools) :)

[2017-04-12 15:09] ferki opened #1141 "Implement fetch command"
It would be nice to provide a way to download files on the remote machine (in contrast to the currently implemented `download` command, that is downloading a file _from_ the remote machine to the local machine).

I would call this command `fetch` for now.

Just dumping all the ideas here:
 - check if `File::Fetch` is available in the remote machine, and if yes, use that
 - otherwise check for curl

[2017-04-24 09:02] krimdomu opened #1143 "debconf-set-selection syntax error"
see: https://hastebin.com/urukekopeh.vbs

It seems that the generated string which is piped to debconf-set-selection is wrong:

[code]

The topic is generated without a value, and in the next line it is generated with value.
So the setting is stored in debconf, but for every odd line we get a parse error.

[2017-05-03 15:25] ferki commented on #637
@yko: thanks for your initial work and input to inspire us!

Thanks to @andrewslotin via Homebrew/homebrew-core#12561, rex-1.5.0 now can be installed with homebrew :tada:

[2017-05-03 15:25] #637 closed

[2017-05-28 08:17] slashbeast opened #1146 "can_run() is affected by Rex forcing $PATH"
It seems that Rex does overwrite whatever $PATH is set, making can_run() not really usable in case of setting custom paths. Here I have /opt/prefix/bin in $PATH as well, however can_run() for 'foo' looks like:

    [2017-05-28 10:14:25] DEBUG - Executing: export PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/usr/pkg/bin:/usr/pkg/sbin ; LC_ALL=C which foo
    [2017-05-28 10:14:2

[2017-06-14 13:48] AlexanderS commented on #613
Any fix for that (apart from the workaround)?

[2017-06-18 07:21] lumiera opened #1149 "pkg on_change runs even when package state did not change."
Target = centos 7 with all updates installed.

Rexfile:

[code]

Running
[code]
multiple times shows that on_change is invoked every time.

[2017-06-18 07:26] lumiera opened #1150 "Command-line parameters not passed correctly or consistently via do_task"
Simple testcase:

[code]

Executing this testcase as
[code]

Shows that tasks A and B see the command line parameters, but for unknown reasons, task C does not.

[2017-06-18 16:20] lumiera opened #1151 "Rex::CMDB documentation (synopsis) does not match the actual functionality of the module"
Synopsis at https://metacpan.org/pod/Rex::CMDB shows an example like

[code]

But this would just return a Rex::Value instance.

The actual functionality can be seen in tests:
https://metacpan.org/source/JFRIED/Rex-1.5.0/t/cmdb.t
There it can be seen that one needs to call get() on the result of cmdb() to retrieve the value itself.

[2017-06-19 12:53] lumiera opened #1152 ""run $cmd => $arrayref" inside LOCAL sometimes produces an open3 error."
Simple test case:

[code]

This code when executed as

[code]

will sometimes succeed, but sometimes will produce an error:

[code]

[2017-06-20 05:53] lumiera commented on #1152
Not sure if this is the same bug or related, but running this Rexfile:

[code]

on localhost like

[code]

consistenty crashes with

[code]

[2017-06-23 16:00] mbroadhead commented on #681
+1 for this. I'm currently using the following command inside my `Rexfile` in order to interact with Vagrant VMs:
[code]

This one-liner sets up all the necessary host, port, username, auth etc for all of your Vagrantfile VMs in order for you to access them with Rex. However, Rex does not use the `user` defined in `%Rex::Config::SSH_CONFIG_FOR`.  Instead it uses my `getlogin` or `getpwuid($<)` as

[2017-06-24 10:13] Alhadis opened #1153 "Perl 5.22+ not supported by JSON::XS"
The author of [`JSON::XS`](http://search.cpan.org/~mlehmann/JSON-XS-3.02/XS.pm) has made a [conscious decision](http://blog.schmorp.de/2015-06-06-stableperl-faq.html) to stop supporting modern versions of Perl. Configuring the module currently interrupts a build to prompt manual confirmation from users running Perl 5.22.0 or newer.

Here's an abridged version of [the text being displayed](https://

[2017-06-25 13:21] ehuelsmann commented on #1153
Maybe the project should switch to JSON::MaybeXS, which depends on Cpanel::JSON::XS for xs performance

[2017-07-14 19:26] krimdomu commented on #1143
This was fixed by @abeverley in #1154

[2017-07-14 19:26] #1143 closed

[2017-07-21 20:20] krimdomu commented on #1140
Hi @ferki
could you please provide an example test file?
Because i wonder how the test know on which system it needs to connect and which task to run on it. Because if the test files are called with prove they don't parse the Rexfile.

[2017-07-21 20:27] #1150 closed

[2017-07-21 20:28] krimdomu commented on #1066
This will be fixed in the next release.

[2017-07-21 20:28] #1066 closed

[2017-07-21 20:29] #1134 closed

[2017-07-21 20:30] krimdomu commented on #1117
This should be fixed with the next release.

[2017-07-22 06:59] krimdomu commented on #1152
Hi @lumiera,

sorry for the late response.

It seems that rex is not possible to detect the remote shell.

Could you please run rex in debug mode (`rex -d xxx`) and post the output?

Thanks,
Jan

[2017-07-22 07:23] krimdomu commented on #1149
Hi @lumiera,

i tried to reproduce this but sadly i can't. Could you please run this task with the debug option `rex -d -H target ttt` and post the output?

Thanks,
Jan

[2017-07-22 07:33] #1153 closed

[2017-07-22 07:34] krimdomu commented on #1153
Many thanks for the info.
This will be fixed in the next release.

[2017-07-22 08:03] krimdomu commented on #1022
Many thanks to @alip,
this is fixed in the next release.

[2017-07-22 08:03] #1022 closed

[2017-07-22 08:37] Alhadis commented on #1153
/cc @ilovezfs We did it. Angry German guy defeated.

[2017-07-22 08:46] ilovezfs commented on #1153
@Alhadis nice work, but let's try to be nice since he might read this for all we know. ;)

[2017-07-22 18:14] lumiera commented on #1152
rex -d -H target.local xxx
[code]

[2017-07-22 18:23] lumiera commented on #1149
rex -m -d -H target.local ttt > out.txt 2>&1

Contents of out.txt:

[code]

[2017-07-22 20:53] krimdomu commented on #1152
Hi @lumiera,

thanks for the output.

Interesstingly it thinks that the local shell is idrac
[code]

Can you please tell me which shell you are using?

[2017-07-22 20:55] lumiera commented on #1152
This is zsh 5.3.1-5 as distributed by Debian (unstable branch) for amd64.

[2017-07-22 21:01] #1152 closed

[2017-07-22 21:02] krimdomu commented on #1152
Hi @lumiera,

thanks for the info. This patch should fix this problem and is included in the next release.

[2017-07-25 18:21] slashbeast commented on #1146
Friendly bump

[2017-08-01 16:15] labbeduddel opened #1165 ""auth for" does not work when dont_register flag is true"
When task is not registered, authentication user is not taken from "auth for" parameter.
Instead the user which is executing the task is used.

[code]

[2017-08-05 05:26] krimdomu commented on #1146
Hi @slashbeast
sorry for the late response.

Rex is using a predefined path if not advised otherwise (https://github.com/RexOps/Rex/blob/development-1.x/lib/Rex/Config.pm#L378).

You can override the path with this (https://www.rexify.org/docs/api/1.3/rex/commands.pm.html#path-path-):
[code]

Or you can advise perl to read profile (with a feature flag): https://www.rexify.org/docs/other/a_word_on_

[2017-08-05 05:39] krimdomu commented on #1149
interesstingly the output of the rpm command before and after the installation is the same.

Could you please run the following code and post the output (without `-d`)

[code]

[2017-08-05 10:37] lumiera commented on #1149
The output is:
[code]

and on some invocations the order is different:
[code]

[2017-08-28 08:21] roa opened #1167 "Rex::SCM::Git CHECKOUT command is counter intuitive"
the checkout commands are defined as

[code]

if you now run something like

[code]
it will fail, because `git checkout -b master` makes no sense, because it already exists.
IMHO it should be `git checkout -B master`, which only creates new branches if they don't exist, but
checkouts existing one.

please tell me, if i am not understanding the use case correctly or if i can make a PR with `-B` ins

[2017-09-06 13:21] labbeduddel opened #1168 "Oracle Linux support (lsb_release)"
Hello,

after installing redhat-lsb on OracleLinux 7, Rex prints:
`OS not supported (OracleServer)`

On Oracle Linux we have a redhat-release file:
[code]
and a oracle-release file:
[code]

To detect the OS Rex calls: `lsb_release -s -i`
and, of course, lsb_release is using /etc/oracle-release as source file

Could you please detect Oracle Linux as Redhat clone.

Thank you.

[2017-09-19 12:10] LeMerP opened #1169 "Determine hostname and domainname"
OS: SLES 12.3 / openSUSE 42.3

Hi,

am I right rexify is using the command "hostname -s" to get the computers' host name and "hostname -d" to get its domain name?

Why not using the command "hostname" without a parameter and "domainname" to get the domain name?

Reason: If you call "hostname" with a parameter there has to exist an entry in /etc/hosts file.
If you use "hostname" without parameter a

[2017-09-20 05:18] LeMerP commented on #1169
Regarding to the manual page of both commands, /etc/hosts will always be used.

[2017-09-20 05:18] #1169 closed

[2017-09-20 05:40] krimdomu opened #1170 "Rex fails to load Rex modules on Perl 5.26.x"
From Brian Manning (via Googlegroup)
--------------------------------------------------

Hi all,

Perl removed the current directory (.) from @INC in Perl 5.26.0 [1], which causes Rex modules [2] in the same directory as the Rexfile to not be findable/loadable.

Adding this to my Rexfile:

use lib q(.);

makes Rex happy again; will this be the solution for resolving Rex modules going forward, or i

[2017-09-21 18:16] lumiera opened #1171 "'run' with continous_read reproduces lines from mixed STDOUT+STDERR output in wrong order"
Testcase:

Executable file /tmp/outerr.pl on remote host:

[code]

Rexfile on local host:
[code]

Results of execution:
[code]

Notice that the order of output lines is not correct. Adding 2>&1 to command does not solve this.

[2017-09-29 18:45] #1170 closed

[2017-09-29 18:45] #943 closed

[2017-09-29 18:49] krimdomu commented on #1115
Hi @LeMerP

this is now merged into 1.6 line.

[2017-09-29 18:49] #1115 closed

[2017-10-11 10:17] djzort commented on #1090
Happy to support this maintainer / coauth of http://search.cpan.org/~djzort/Net-Proxmox-VE-0.32/

[2017-10-11 10:56] djzort opened #1175 "Rex::Commands::Inventory throws warnings if netstat not installed"
As below

[code]

Probably it should handle netstat's absence nicely

[2017-11-29 12:21] djzort opened #1183 "--no--install-recommends on apt/dpkg based systems"
Looking through the code and docs, i cant see if there is a way to install packages with the --no-install-recommends option

my use case is with collectd, which by design has the deps of its sundry and diverse plugins as 'recommendations' so that installing collected doesnt require installing 2/3 of debians available libraries.

[2017-11-30 08:45] KDr2 commented on #613
Also want to know if there's any fix for that (apart from the workaround)?

[2017-11-30 14:11] ferki commented on #613
Hmm..it seems it has been already fixed in 1.5.0, with [this commit](https://github.com/RexOps/Rex/commit/40995ae2d92ebac6dd7dcf39f5ba110cfc6f0f59). The following `Rexfile` seems to work properly for me with the latest commit from `development-1.x` branch:

[code]

[code]

@AlexanderS @KDr2: could you check which version of Rex you have installed, please, and also try the above test task with on y

[2017-12-03 12:08] KDr2 commented on #613
I just upgrade to 1.5.0, and Rex works well with the Rexfile you gave. The fix is confirmed, thanks.

[2017-12-03 13:08] djzort opened #1184 "Detect LXC virtualization type"
From virt-what, lxc containers can be detected as follows. virt-what cites this documentation http://www.freedesktop.org/wiki/Software/systemd/ContainerInterface

[code]

/proc/1/environ contains
`TERM=linux^@container=lxc^@container_ttys=/dev/pts/0 /dev/pts/1^@`

[2017-12-03 19:14] #613 closed

[2017-12-14 14:04] KDr2 opened #1185 "modules.rexify.org is broken."
Please check https://modules.rexify.org/api/1.5/get/recipes

[2018-01-08 11:20] einhverfr opened #1187 "Rex on Mac invokes wrong MD5 program"
see https://github.com/Homebrew/homebrew-core/pull/22564

Rex is invoking md5sum when md5 is what is included.

[2018-01-11 06:29] ferki commented on #1187
Hi @einhverfr, thanks for the report! I think I would need more context to understand the exact goal here and in the homebrew repo.

**TL;DR version:**

Since I don't have access to Mac OS currently, could you post the following info from Mac, please?

 - output of `uname` (or, at least, `uname -s`)
 - path to `md5` (output of `which md5`)
 - example output of `md5 $filename` (to see how it can be

[2018-01-12 12:41] alip commented on #1066
This breaks `needs` for both `needs Pkg 'task'` and `needs 'task'` and reverting it restores the functionality. Am I missing something? Have you actually tested this?

[2018-01-15 06:17] ferki opened #1188 "Task dependencies via `needs` is broken when modules have namespace separators"
As [reported via a comment](https://github.com/RexOps/Rex/issues/1066#issuecomment-357228734) by @alip, calling `needs` seem to be broken at least for some use cases, and it at least happens since merging 7cf0ca4 (to fix #1066 on #1157).

I'm opening this issue in order to describe some details based on my own debugging, and also to collect more feedback before applying a fix.

I've used the follo

[2018-01-15 06:23] ferki commented on #1066
TL;DR: `needs` seems to be only broken when `Pkg` contains Perl namespace separators. See #1188.

@alip: thanks for reporting! I've had some hard time to reproduce it first, but I believe I've finally found what might be broken for your use case. I've opened #1188 for double checking and further discussion.

Rex is being tested by its unit tests in this repo, and by its functional tests in [RexOps

[2018-01-25 16:26] Barfred opened #1190 "Service using wrong class on Ubuntu Trusty"
I have just upgraded from v. 0.54.3 to 1.5.0 and noticed that managing services in the 'upstart' flavour on Ubuntu 14.04 started causing errors.

Running with debug enabled I got:
[code]
Since the gssd service is an upstart-flavoured service, there's no `/etc/init.d/gssd` script. The correct way to manage it (and any other service on Ubuntu 14.04) would be `service gssd status` and not `/usr/sbin/

[2018-01-27 07:08] vinyldarkscratch commented on #1187
Hey @ferki,

Going through [homebrew-core](https://github.com/Homebrew/homebrew-core) issues, I noticed this hadn't been touched in a while.  To help out with this:

uname [-s]: `Darwin`
MD5 Path: `/sbin/md5`
Example Output: `MD5 (/Users/vinyldarkscratch/Desktop/whs.glitch.extract.js) = 6a6c199984785367ed666504846442cd`

[2018-02-08 10:09] mestia commented on #1106
See the same problem with rex 1.6.
It also complains about

[2018-02-21 22:00] mbroadhead opened #1193 "before_task_start, after_task_finished don't register for tasks within a namespace"
Rex Version: `(R)?ex 1.6.0`
Rexfile:
[code]

The `before_task_start` and `after_task_finished` hooks do not run, because there was an issue setting them up:
[code]

If, however, you prefix the hooks with the "rexified package prefix", it works:
Rexfile:
[code]

Result:
[code]

My expectation is that `before_task_start`,  `after_task_finished`, and other hooks properly find the task within the same

[2018-02-22 20:37] mbroadhead commented on #1193
Here is a quick overview showing that this functionality worked fine on `(R)?ex 1.4.0`, but is broken on `(R)?ex 1.6.0`

Rexfile:
[code]

[code]

[2018-03-14 19:34] mbroadhead opened #1195 "append_or_ammend_line overwrites symlink with real file when using sudo"
[code]

Rexfile for the test:
[code]

Running locally without sudo (pass):
[code]

Running locally with sudo (fail):
[code]

Now if you run it through using SSH instead of local, here is what you get:

SSH without sudo (pass):
[code]

SSH with sudo (fail):
[code]

Let me know if you would like more information

[2018-05-13 21:27] gregoa opened #1197 "libyaml-perl/1.25-1 breaks rex/1.6.0-1 test suite (FTBFS and autopkgtest failure)"
We have the following bug reported to the Debian package of Rex
(https://bugs.debian.org/898578):

It doesn't seem to be a bug in the packaging, so you may want to take
a look. Thanks!

------8<-----------8<-----------8<-----------8<-----------8<-----

[code]
------8<-----------8<-----------8<-----------8<-----------8<-----

Thanks for considering,
  gregor herrmann,
  Debian Perl Group

[2018-05-17 10:28] gregoa commented on #1197
According to @ntyni's debugging in the abve mentioned bug report, this looks like a regression in yaml-pm

[2018-05-17 13:03] perlpunk commented on #1197
Should be fixed, could you test with YAML.pm 1.25_002?

[2018-05-17 14:41] ntyni commented on #1197
On Thu, May 17, 2018 at 06:03:17AM -0700, Tina Müller (tinita) wrote:

Many thanks for the quick fix! Yes, I can confirm that rex now passes
its test suite again here with 1.25_002.
--
Niko

[2018-05-17 19:44] ferki commented on #1197
I can confirm that `t/report.t` is broken with YAML-1.25 and 1.25_001, but works with the fix in 1.25_002.

I plan to take a look about how to exclude YAML-1.25 from accepted prerequisites, and release it as part of the bugfixes queueing up for a Rex-1.6.1 release.

By the way, amazing collaboration on this one, folks! Your efforts are much appreciated, well done!

[2018-05-17 21:39] perlpunk commented on #1197
@ferki I think I want to release 1.26 soon. I'm quite sure there are no new bugs introduced with it ;-)

[2018-06-20 19:42] #1197 closed

[2018-06-20 19:44] #1168 closed

[2018-06-22 17:41] pmverma commented on #695
Closing as I am no longer working on that project and nobody has reported any similar issues.

[2018-06-22 17:41] #695 closed

[2018-07-10 07:49] djzort opened #1200 "Website broken"
http://rexify.org/ is giving an error from cloudfront

[2018-07-18 16:21] ferki commented on #1200
Hi, thanks for the report, and sorry for the inconvenience. It should have already been fixed by @krimdomu, but feel free to open any follow-up issues about the website in [RexOps/rexify-website](https://github.com/RexOps/rexify-website) repo.

[2018-07-18 16:21] #1200 closed

[2018-07-25 06:56] eliSodeglo opened #1201 "rexify for module installation doesn't work"
(perl 5.24 / rex 1.6.0)
Running the command `rexify --use="Rex::Ext::Backup"` would result in:

Online I just found this workaround (manually copying the repo): https://groups.google.com/forum/#!topic/rex-users/794tvV45OxY

I did a little bit of poking in the rexify script, but (with my low level perl knowledge) didn't succeed. I don't see anything wrong with the JSON at http://modules.rexify.org/

[2018-08-16 22:18] ehuelsmann opened #1202 "support dynamic cmdb pass expansions (custom macros)"
The idea is to support something along the lines of

[code]
Notice the `{roles}` macro, which is taken from the CMDB YAML files read before that specific expansion pattern.

This pattern could be considered an "include" mechanism due to the merging behaviour of the CMDB YAML combination (dynamic includes); which yaml doesn't specify in its format specification.

[2018-08-25 14:07] KDr2 commented on #1201
I install the recipes in this way:

[code]

[2018-10-14 17:31] sdondley opened #1208 "Not getting output from dump_system_information"
I have a few debian machines. On two of them, the following task works fine:

[code]

But on a third Debian machine, I get no output. Log file says this:

[code]

I am, however, able to get output from the machine with this simple task:

[code]

Does anyone know why I might not be getting output from `dump_system_information` on this one machine.

[2018-10-14 17:52] sdondley commented on #1208
Apparently, the third machine did not have `lsb_release` installed. I installed it. However, although the rex.log file shows that information about the machine is getting fetched, there is still no output to my terminal.

[2018-10-15 00:30] sdondley commented on #1208
So I tracked the problem down to not having SFTP installed on the client server. It's needed in the `is_dir` function in the `Rex::Interface::OpenSSH.pm`. The `VirtInfo` module calls `is_dir` to determine if a directory exists.

Seems odd I would need SFTP to check if a directory exists.

[2018-10-25 11:47] abeverley opened #1209 "Reading OpenSSH ~/.ssh/config file ignores all hosts options"
When ```Rex::Config``` parses ```~/.ssh/config``` it slurps options for named servers, but not for the all hosts "*" option. This means that it is not possible to set a configuration value for all hosts in the config file, and instead Rex sets its default. (In my case, I was trying to specify a default timeout value).

I've worked around this by adding the following in my Rexfile: ```Rex::Config->

[2018-12-17 08:52] fr34k8 opened #1210 "certificate invalid / expired rex.linux-files.org"
@krimdomu @ferki  please extend the certificate on the mirrors. its obsolete since February 2018

[2019-01-23 08:52] #1167 closed

[2019-01-30 21:32] AaronJackson commented on #1210
I'm a big fan of Rex, but I'm pretty disappointed that stuff line SSL certificates aren't even getting updated. :(

[2019-02-05 09:21] fr34k8 commented on #1210
@krimdomu @ferki dudes ! tschaaakaa! this is anoying.. fix it please asap

[2019-02-06 17:09] krimdomu commented on #1210
Hi all,
sorry for the delay. I'm working on it now.

[2019-02-06 17:14] AaronJackson commented on #1210
Thank you @krimdomu :grinning:

[2019-02-06 17:50] krimdomu commented on #1210
So, i migrated it to Amazon Cloud Front, so the ssl cert updates automatically. The clients need to support SNI but i think all clients today do support it.

It might take a while until the DNS updates.

[2019-02-06 17:52] AaronJackson commented on #1210
:+1:  Thanks again

[2019-02-06 17:59] #1210 closed

[2019-04-03 14:14] Ilya33 opened #1215 "Can't checkout svn repository that contains filenames in some UTF-8 symbols (Linux)"
Hello.

Can't checkout svn repository that contains filenames in some UTF-8 symbols (Linux Debian 9 and OpenBSD)

Rex version: 1.6.0
Subversion client version: 1.9.5 (r1770682)

filename examples:
1. Grüßen
2. ブランチ

I can checkout this repository from shell:

`LC_ALL= LC_CTYPE=en_US.UTF-8 svn --non-interactive --trust-server-cert  --username  'user' --password  'user' checkout https://host/svn/pat

[2019-04-11 11:24] Ilya33 commented on #1215
I wrote the test for this issue [https://github.com/Ilya33/Rex/blob/issue-1215-test/t/issue/1215.t](https://github.com/Ilya33/Rex/blob/issue-1215-test/t/issue/1215.t).
This test requires a subversion tool otherwise it's skipped.

[2019-04-12 13:21] Ilya33 commented on #1215
Hmm...
Is there a reason to use `LC_ALL=C` in `Rex::Interface::Exec::Local`?
As I know `LC_ALL` should be used for debug purposes [https://wiki.archlinux.org/index.php/Locale](https://wiki.archlinux.org/index.php/Locale).
removing `LC_ALL=C` solve this problem

Best Regards, Ilya Pavlov

[2019-05-31 14:39] Ilya33 opened #1216 "sync_up not sync empty directories"
Hello.

`sync_up` not synced empty directories

I think it needs to be in the documentation if it's right behavior for `sync_up`.

Best Regards, Ilya Pavlov

[2019-07-22 19:40] ehuelsmann opened #1218 "Run CI infrastructure for each PR and merge commit"
Steps towards a satisfactory test suite scope:

1. [x] Run test suite through `prove`
2. [x] Run test suite on TravisCI (or other CI)
2. [ ] Add [Test::MinimumVersion](https://metacpan.org/pod/Test::MinimumVersion)
3. [ ] Test at least current and minimum Perl versions ("test matrix" in "TravisCI-speak")
4. [ ] Perl critic test for code being tidy

[2019-07-22 19:53] ehuelsmann commented on #1218
For reference: a lot of experience regarding the above is encapsulated in: https://github.com/RexOps/Rex/pull/1005/commits/b6dab5ed4f5c96db00de76b3b96c56bfae6954bb

[2019-08-26 18:57] ehuelsmann opened #1224 "Testing for SSH Hostname parsing (testing of #1214)"
#1214 was merged without tests. This issue exists to track that tests will be developed.

[2019-09-12 06:31] johscheuer commented on #1007
closing this one :)

[2019-09-12 06:31] #1007 closed

[2019-09-17 18:52] ferki opened #1229 "Skip ssh config parsing when Net::OpenSSH backend is used"
Net::OpenSSH backend just uses the OpenSSH binaries in the backgrond, so they should be able to transparently use any available ssh configuration like `~/.ssh/config`.

So in that case, there's no need to try and parse the ssh configuration, but we should make sure it still works for other backend that might rely on it (like Net::SSH2).

[2019-09-23 17:17] ferki commented on #1193
Thanks for the report, your detailed use-cases, and tests on #1194!

Looks like PR #1164 and PR #1173 were kinda weird, as both were containing each other's whole changeset. So merging one automatically merged the other too. Unfortunately the fix for #1173 was not the correct one if we look at the whole picture, though that fixed its own use-case. You've correctly reverted that change, and that br

[2019-09-23 18:25] x-qq opened #1230 "Commands executed on remote hosts have their locale unexpectedly switched"
When I ssh to a remote host manually and run `locale` I get the following result:

[code]

However, when I launch this task on the same host as the same user using Rex:
[code]
I get the following result:
[code]

This suggests that Rex enforces certain locale for remote connections, which can lead to hard to debug consequences ( one real example: if a Postgres database is created from inside such R

[2019-09-23 19:42] ferki commented on #1230
Currently Rex heavily relies on the C locale internally to have reproducible and parseable output from the various commands it executes while doing its job (especially for `sudo` commands), so I'd say there's little chance to change that completely.

Instead, the documentation should be of course more clear on this, and there should be feature flags controlling this behavior, ultimately giving mor

[2019-09-23 19:56] x-qq commented on #1230
It is completely understandable that to have a parseable output from certain commands (like sudo), Rex would invoke them with a known locale value.

It is however completely unclear to me, why this locale switching for internal use is not done on per-command basis (i.e. `$ LC_ALL=C sudo foo whatever`) and instead done on an entire connection, which leaks into user commands as well.

[2019-09-23 20:33] ferki commented on #1230
Yes, I agree it feels a bit weird that the current codebase seems to set locales in the Shell and Exec interfaces.

My only idea currently is that IIRC all the internal `run` calls have been converted to internal `i_run` calls a while ago, and if that's the case, there might be a chance to push the locale settings into the `i_run` wrapper from the Shell/Exec interfaces. I have no idea how to write

[2019-09-24 22:54] bernyrd-cyber commented on #468
I see three options in relation to original intent of issue.
1. Single command. In this one, I am not sure a nested hash is necessary. If the chroot string is present it is a directory. Otherwise, a hash could be available for options:
[code]
2. A block of commands (could also be like `LOCAL`):
[code]
3. An entire task, in the vein of `no_ssh`:
[code]

In the first two, it should make sense that s

[2019-09-25 20:08] ferki commented on #1195
Thank you @mbroadhead for the detailed report and examples!

Apparently `sed` is also affected by this regardless of using sudo or not, and regardless of local or remote file management. Probably other file content management commands, like `delete_matching_line`, are also affected when sudo is in use and the file to be managed is a symlink. So I might change the issue title to reflect that.

The

[2019-09-25 22:30] ferki opened #1233 "Support symlinks with the file command"
It might be useful to support symlinks with the file command, like:

[code]
or even like:
[code]

[2019-10-08 21:04] #1193 closed

[2019-10-08 21:16] #1195 closed

[2019-10-13 16:48] #807 closed

[2019-10-13 19:51] ferki commented on #622
As far as I can tell, it should be already fixed on #778, so closing this. If there are any further troubles with syntax checking, please open a new issue.

[2019-10-13 19:51] #622 closed

[2019-10-18 17:03] #1190 closed

[2019-10-20 20:47] sdondley opened #1238 "file() function taking over 1.5 minutes to execute"
I'm attempting to use the file() function in a module like so:

[code]
It works, but it's very, very slow. It can take about 1.5 minutes before it executes. I don't have this problem when running `file` from within a `task` function in a Rexfile. Perhaps I am not using the `Rex::connect` function as intended? Can someone point out what I might be doing wrong?

[2019-10-21 14:52] sdondley commented on #1238
I've tracked the problem into the bowels of the `Rex::Helper::System::info` module and `Rex::Hardware::get` module. The modules keep looping over getting the `Network`, `Host`, `Kernel`, `Memory`, `Swap` properties about 4 or 5 times while trying to build the template that is passed to the `file` method.

I'm not sure if this is a bug or I'm just misusing Rex.

[2019-10-21 15:59] sdondley commented on #1238
OK, so 90% of the looping is generated by this block of code in Rex::Commands::File::template method.

[code]

This block appears around line 229 in the file. I'm not sure what this code does yet, but if I comment it out, the code in OP completes in a much more reasonable amount of time.

[2019-10-21 17:21] sdondley commented on #1238
Digging a little deeper, the slowdown occurs in the call to `Rex::CMDB::cmdb` which calls `Rex::CMDB::YAML::get` which calls `Rex::CMDB::_parse_path` once for each file in `@files` which contains the following list of files:

[code]

`_parse_path` calls `Rex::Helper::Path::parse_path` which calls `Rex::Commands::Gather::get_system_information` which accounts for why the server is repeatedly querie

[2019-10-21 18:35] ferki commented on #1238
I'm not sure if a GitHub issue is the best place for more generic support threads, but I'd like to thank you for the detailed information, @sdondley!

While it's possible, using Rex as a library is not the intended primary usage so I'm afraid not much things are tuned or even tested for this kind of usage at this moment. My hunch would be lack of caching for those exact things you mentioned. Cachi

[2019-10-21 18:41] ferki opened #1239 "Add CMDB caching"
As briefly mentioned on #1238, it might be a good idea to add caching support for the CMDB.

It would lead to performance boost especially when using custom "expensive" CMDB backends (like a database or a webservice through API calls), as well as to usability improvements (like reducing potential problems if the CMDB data stored in the backend is being changed while Rex is running).

Most ideally,

[2019-10-21 19:10] sdondley commented on #1238
Perfect. `Rex::Config->set_use_cache(1)` did the trick. Your advice is very good timing. I thought it had something to do with caching and I was trying to figure out how to enable caching but without success. Thanks!

And I had just stumbled `Rex::Inline` about 20 minutes ago. Funny! I will definitely check that out. I'll see if it still works with more recent versions of Rex and report back.

Per

[2019-10-21 20:12] ferki commented on #1238
I'm glad it helped! \o/

I wouldn't say this not supported categorically, but I have to admit this is the first direct "as a library" use case _I_ have seen in the wild in the past ~7 years with Rex. Also great timing on your part, as I'm currently working on a talk about "unexpected use cases" ;)

Thanks for the additional pointers too. I agree it's a good idea to add some extra note to the POD o

[2019-10-21 20:23] sdondley commented on #1238
What is your recommendation regarding using Rex inline vs. running shell commands from within a perl script (e.g. `rex 'upload_file'`)? I was experimenting with doing things inline just to see if could be done. But maybe it's less headache to just throw the rex commands into a script and simply pass arguments to the tasks using the parameters feature.

My use case is wanting to set up and configur

[2019-10-21 21:08] ferki commented on #1238
Well, there's no silver bullet, but Rex is a framework which allows you to build whatever you think is fitting your use case the best. It's best to start simple and gradually add more and more automation and structure to a project.

In general I like a data-driven, push-style, declarative approach, so I generally end up with the following bits for mid-sized projects:

To separate logic/code and co

[2019-10-22 08:04] mestia commented on #1238
That's an interesting approach. Is it mentioned anywhere in Rex docs? I have feeling that the missing/incomplete docs is the weak point of Rex.

[2019-10-26 07:36] #1239 closed

[2019-10-30 22:10] ferki commented on #578
With the "End of Maintenance Support 2" of CentOS/RHEL 5 on 2017-03-31, we already bumped minimum supported perl version for _running_ Rex to 5.10.1.

The related commit is c4e35d6 as part of #1222.

[2019-10-30 22:10] #578 closed

[2019-11-06 22:22] ferki opened #1246 "Windows tests"
It would be great if we could get test suite results from Windows, so we can prevent issues on that platform too, instead of fixing them after a release, once potential failures show up via CPAN Testers.

One idea is to explore how Travis CI can help with that.

[2019-11-19 22:15] ferki commented on #1246
This was closed on #1248.

[2019-11-19 22:15] #1246 closed

[2019-11-27 22:49] ferki commented on #1238
I'm glad you find it interesting.

No, instead we do actively "brand" Rex along those lines (framework aspect, it's just Perl, etc). A somewhat related idea is to have more like a cookbook of practical examples to show various real-life use-cases and alternatives, instead of "this is how you should do it with Rex". But if I'm the only one writing about these, then it will only reflect _my_ opinion

[2019-11-27 22:49] #1238 closed

[2019-11-30 22:23] #1151 closed

[2019-12-01 20:45] ferki commented on #1218
I think we could consider this issue as solved:

- Add Test::MinimumVersion
    It's in `dist.ini` and is being run as an author test. Configuration was updated on c4e35d62ed416e2a5f58713bcef9c10ef544e72b to match current goals.

- Test at least current and minimum Perl versions ("test matrix" in "TravisCI-speak")
    There are 3 parallel jobs offered by Travis CI as part of the free usage, and th

[2019-12-01 21:26] ferki commented on #1101
Looks like it was fixed on #1070.

[2019-12-01 21:26] #1101 closed

[2019-12-07 04:27] ggmo opened #1257 "integration network vendors with Rex"
Will the Rex support Network vendor task deploy with follow features:
1、Integrate Rex with network DevOps tools chain;
2、Get open and full access to switch resources and data, like open switchport , design firewall policy;
3、support much vendor like CISCO-ACI F5 JUNIPER ARISTA CISCO-NX-OS and so on;
    just like ansible in python

[2019-12-07 16:13] ferki opened #1258 "Add Void Linux support"
Void Linux ships Rex, but unfortunately it's not yet possible to use Rex to manage Void Linux systems. We'd be happy to assist contributors to change this :)

Getting it done would basically consist of the following things:
 - teach rex about how to detect Void Linux systems (hint: `Rex::Hardware::Host::get_operating_system()` and `Rex::Commands::Gather:is_voidlinux()`)
 - if Void Linux is detecte

[2019-12-07 22:22] ferki commented on #1257
Rex is developed by volunteers, so it supports whatever the community members are willing to implement and maintain. That being said, from the technological point of view, it is definitely possible to use Rex in those cases.

All the mentioned points probably would involve interacting with a device over SSH/SNMP/some other method, and/or with a service via some kind of API. Since Rex is just Perl,

[2019-12-07 22:22] #1257 closed

[2019-12-08 19:17] ferki commented on #1113
I've been thinking on this a lot.

I'd say that this is already possible via various Perl modules (see [How do I load all my custom modules easily?](https://www.rexify.org/docs/faq/index.html#howdoiloadallmycustommoduleseasily)), and since Rex code is just Perl code, any of those could be used for this purpose.

In other words, I'd prefer allowing the user to choose which module is the best for th

[2019-12-08 19:17] #1113 closed

[2019-12-08 19:20] ferki commented on #1218
As mentioned above, I consider this as solved, therefore I'm closing the issue.

Of course, feel free to reopen it, or to open new issue(s) about testing and/or CI integration.

[2019-12-08 19:20] #1218 closed

[2019-12-22 17:07] #1258 closed

[2019-12-29 22:55] ferki opened #1265 "Check older development commits and reapply if needed"
TL;DR: this is a placeholder issue to collect some of the older changes that got merged into the historical `development` branch, but didn't make it into mainline `master` after all, and see if they are useful to (re)apply now.

Longer version:

Around 1.4.1 release, development happened on dual tracks in `development` and `development-1.x` branches. Since `development` was the place for more expe

[2020-02-24 16:42] tomhukins opened #1271 "before_task_start broken in Rex 1.8.1"
I've started working with a Rex installation that runs fine with Rex 1.6.0 but encounters problems with Rex 1.8.1.  I've been able to reduce the installation to a simple Rexfile that demonstrates the problem:

[code]

With Rex 1.6.0 I see the following:
[code]

And with Rex 1.8.1 I see the following:
[code]

With 1.8.1, the before code doesn't run.  I wonder if this is related to #1193, but I don'

[2020-03-04 15:29] ferki commented on #1271
Thanks for the report with the instructions to reproduce!

Interestingly enough, the test suite somehow misses this case, despite exercising all types of hooks. It's definitely a case that should be part of the tests.

And yes, it sounds possible that this is related to some combination of hooks and namespaces.

[2020-03-05 10:45] #1271 closed

[2020-03-05 10:50] ferki commented on #1271
@tomhukins: this should be fixed in the master branch already, and would be included in the next release. Thanks again for the report!

[2020-03-06 15:24] dboehmer opened #1274 "account() fails with 'comment' including non-ASCII character when `use utf8;` is in effect"
My last name *Böhmer* contains a German umlaut *ö*. Setting the `comment` of my user account via SSH fails.

Example:

[code]

Ran it like:

    $ rex -d -H $HOST test

[2020-03-06 22:31] ferki commented on #1274
@dboehmer: could you also attach your immediate error message to the opening post as well, please? The one that complains about the JSON (de)serialization.

My initial triaging suggests that the behavior might be slightly different depending on which JSON module is loaded by `JSON::MaybeXS`, but I still couldn't reproduce your case.

Following that lead, please also post which version of which JSO

[2020-03-10 16:24] dboehmer commented on #1274
I hope you had a pleasant journey back home:-)

Seems like the error persists although the relevant modules are up to date:

[code]

[2020-03-10 19:56] ferki commented on #1274
Thanks for the extra input, I could now reproduce it, and turned out I won't need the JSON details. The key was to have `use utf8;` in the Rexfile.

**Findings so far**

Rex currently uses an temporary file on the remote for user management actions on managed Linux machines. Then this file gets executed to carry out the given action.

The problem seems to be that this file seems to be `ISO-8859` e

[2020-03-10 21:57] ferki commented on #1274
So it seems like the write methods in `Rex::Interface::File::*` modules get confused on what encoding to use on the remote machines for file write operations when `use utf8;` is in effect.

I'm tempted to simply force UTF-8 encoding there, but perhaps it's better if that behavior is configurable. Both for what the default encoding should be (utf-8? autodetect? based on what?), and to be able to ch

[2020-03-10 22:34] dboehmer commented on #1274
It was included in the original issue for a reason :wink:

Sorry to say but I think you changed the title to be *less* correct than before.

“`use utf8` in effect” only means that the input file enabling this pragma is known to be encoded in UTF-8. Nothing else.

Maybe try:

[code]

In either case Perl now holds a string with a Unicode char that was correctly decoded from the input file. I think t

[2020-03-10 22:38] dboehmer commented on #1274
It’s the duty of the Rex user to correctly flag the encoding of their `Rexfile` file. I think you may then create an output file for the target system with any encoding you want. Writing UTF-8 will be a reasonable choice. I don’t know yet what the output file actually is but if it is Perl again, simply include `use utf8`.

[2020-03-30 18:44] #1274 closed

[2020-03-30 19:11] ferki commented on #1274
We've decided to add a new feature flag called `write_utf8_files` to control the encoding of files written by Rex. This is intended to complement `use utf8;` pragma in Rexfiles.

[code]

In all the various use-cases to reproduce this issue and related behaviour, enabling that feature solved them.

It's already merged to master branch if you'd like to give it an early spin, but there also should be

[2020-04-04 19:58] ehuelsmann opened #1282 "Create 'meta.yml' to 'cpanfile' converter to migrate modules"

[2020-04-04 19:59] ehuelsmann opened #1283 "Add deprecation to module downloader (deferring entirely to cpanm)"